.burger { z-index: 1; position: fixed; top: 3%; right: 5%; width: 50px; height: 40px; color: #fff; font-size: 26px; background-color: #000; }

.burger i { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.burger.active + aside { display: block; width: 100%; }

aside { z-index: 1; display: none; position: fixed; top: 80px; left: 0; right: 0; background-color: #333333; }

aside nav ul { list-style: none; }

aside nav li { line-height: 2.2em; }

aside nav li:nth-child(1), aside nav li:nth-child(2), aside nav li:nth-child(3) { border-bottom: 1px solid gray; }

aside nav li:nth-child(1) a { padding: 13px 37.7em 13px 10px; }

aside nav li:nth-child(2) a { padding: 13px 19.4em 13px 10px; }

aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 36.3em 13px 10px; }

aside nav a { font-size: 13px; color: #fff; text-align: center; text-decoration: none; text-transform: uppercase; font-family: 'Alegreya Sans SC', sans-serif; }

.nav-block.active { top: 0; background-color: #fff; }

@media (max-width: 456px) { aside nav li:nth-child(1) a { padding: 13px 90% 13px 10px; }
  aside nav li:nth-child(2) a { padding: 13px 75% 13px 10px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 86.3% 13px 10px; } }

@media (min-width: 457px) and (max-width: 767px) { aside nav li:nth-child(1) a { padding: 13px 94.1% 13px 10px; }
  aside nav li:nth-child(2) a { padding: 13px 85% 13px 10px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 92% 13px 10px; } }

@media (min-width: 768px) and (max-width: 991px) { aside nav li:nth-child(1) a { padding: 13px 95.5% 13px 10px; }
  aside nav li:nth-child(2) a { padding: 13px 91.2% 13px 10px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 93.9% 13px 10px; } }

@media (min-width: 992px) and (max-width: 1199px) { aside nav li:nth-child(1) a { padding: 13px 96.2% 13px 10px; }
  aside nav li:nth-child(2) a { padding: 13px 93.2% 13px 10px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 94.9% 13px 10px; } }

@media (min-width: 1200px) { .nav-block { z-index: 1; position: fixed; left: 0; height: 67px; width: 100%; box-shadow: 0 0 65px 5px grey; top: -95px; transition: .7s; }
  .burger { display: none; }
  .burger.active { display: none; }
  aside { display: inline-block; top: 0; background-color: transparent; }
  aside nav ul { position: absolute; top: 4.5%; right: 22%; }
  aside nav li { float: left; border: none; background-color: transparent; padding: 0 25px; }
  aside nav li:nth-child(1), aside nav li:nth-child(2), aside nav li:nth-child(3) { border: none; }
  aside nav li:nth-child(1) a, aside nav li:nth-child(2) a, aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 0; line-height: 64px; font-weight: bold; }
  aside nav a { font-size: 14px; color: #fff; }
  aside nav a:hover { color: #d4dad8; }
  .active .nav-link { color: gray; }
  .active .nav-link:hover { color: black; } }

* { margin: 0; padding: 0; scroll-behavior: smooth; box-sizing: border-box; }

.clearfix::after { content: ""; display: block; clear: both; }

body header { height: auto; padding: 40vh 0 49vh; background-image: url(../images/photo1.jpg); background-attachment: fixed; background-repeat: no-repeat; background-position: center; background-size: cover; }

body header .welcome { width: 100%; text-align: left; text-transform: uppercase; font-size: 20px; color: #fff; font-family: 'Open Sans', sans-serif; }

body header .welcome .text { display: inline-block; padding-left: .5em; }

body header .welcome p { text-shadow: 2px 2px 2px black; padding-top: .5em; font-size: 10px; letter-spacing: 2px; margin: auto 1em; }

body header .welcome .cursor { opacity: 0; transition: .2s; color: #ccc; }

body header .welcome .cursor.active { opacity: 1; }

body header .mouse { position: absolute; bottom: 1em; left: 50%; width: 30px; height: 48px; border: 2px solid #fff; border-radius: 40%; transform: translateX(-50%); }

body header .mouse .scroll { position: relative; width: 5px; height: 10px; top: 15%; left: 50%; transform: translateX(-50%); background-color: #fff; border-radius: 30%; animation: move-scroll 1.5s linear infinite; }

@keyframes move-scroll { 50% { top: 30%; }
  100% { top: 15%; } }

@media (orientation: landscape) and (min-width: 533px) { body .wrap header { padding-bottom: 45vh; }
  body .wrap header .welcome { font-size: 25px; }
  body .wrap header p { margin-left: 1.5em; }
  body .wrap header .mouse { height: 32px; width: 20px; }
  body .wrap header .mouse .scroll { height: 8px; width: 3px; } }

@media (orientation: portrait) and (min-width: 360px) { body .wrap header { padding-bottom: 51vh; }
  body .wrap header .welcome { font-size: 22px; }
  body .wrap header p { margin-left: 1.2em; } }

@media (orientation: landscape) and (min-width: 640px) { body .wrap header { padding-bottom: 45vh; }
  body .wrap header .welcome { font-size: 29px; }
  body .wrap header p { margin-left: 1.6em; } }

@media (orientation: portrait) and (min-width: 411px) { body .wrap header { padding-bottom: 53vh; }
  body .wrap header .welcome { font-size: 22px; }
  body .wrap header p { margin-left: 1.2em; } }

@media (orientation: landscape) and (min-width: 731px) { .wrap header { padding-top: 45vh; }
  .wrap header .welcome p { font-size: 11px; margin-left: 1.5em; } }

@media (orientation: portrait) and (min-width: 375px) { body .wrap header { padding-bottom: 55vh; } }

@media (orientation: portrait) and (min-width: 768px) { body .wrap header { padding-bottom: 53vh; }
  body .wrap header .welcome { font-size: 36px; }
  body .wrap header .welcome .text { margin-left: .2em; }
  body .wrap header .welcome p { font-size: 16px; margin-left: 1.7em; }
  body .wrap .mouse { height: 65px; width: 45px; }
  body .wrap .mouse .scroll { height: 13px; width: 6px; } }

@media (orientation: landscape) and (min-width: 1024px) and (min-height: 768px) { body .wrap header { padding-top: 43vh; }
  body .wrap header .welcome { font-size: 62px; top: 5em; left: 0; text-align: left; }
  body .wrap header .welcome .text { margin-left: .2em; }
  body .wrap header .welcome p { font-size: 16px; margin-left: 3em; }
  body .wrap header .mouse { width: 35px; height: 55px; }
  body .wrap header .mouse .scroll { width: 5px; height: 10px; } }

@media (orientation: portrait) and (min-width: 1024px) { body .wrap header { padding: 43vh 0 44vh; }
  body .wrap header .welcome .text { margin-left: .2em; }
  body .wrap header .welcome p { margin: 0 0 123px 1.7em; } }

@media (orientation: landscape) and (min-width: 1366px) { body .wrap .header { padding: 33vh 0 45vh; }
  body .wrap .header .welcome .text { margin-left: .2em; }
  body .wrap .header .welcome p { margin: 0 0 123px 2.4em; font-size: 20px; } }

@media (min-width: 1600px) { body .wrap .header { padding: 37vh 0 41.5vh; }
  body .wrap .header .welcome { font-size: 42px; }
  body .wrap .header .welcome .text { margin-left: .2em; }
  body .wrap .header .welcome p { font-size: 18px; margin-left: 1.8em; } }

.about-me { font-family: 'Fira Mono', monospace; position: relative; padding-top: 3em; }

h2 { font-size: 30px; text-align: center; margin-bottom: 2em; }

h2 span { background: linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

h6 { font-family: 'Fira Sans', sans-serif; font-size: 17px; padding: 2px; }

.description { font-family: 'Montserrat', sans-serif; color: grey; font-size: 11px; padding: 8px; }

.description li { list-style-type: none; }

.tech-left-1, .tech-left-2, .tech-right-1 { box-shadow: 1px 1px 15px 1px lightgray; height: auto; padding: 3px; width: 37%; }

.tech-left-1, .tech-left-2 { margin-left: 1.3em; }

.tech-right-1 { margin-left: 11.3em; }

.point-line { position: absolute; left: 50%; transform: translateX(-50%); width: 3px; top: 9em; height: 23.7em; background-color: #000; }

.pointer-1, .pointer-2, .pointer-3 { border-radius: 50%; background-color: #395E66; height: 25px; left: 50%; position: absolute; transform: translateX(-50%); width: 25px; }

.pointer-1 { top: 13.2em; }

.pointer-2 { top: 21.2em; }

.pointer-3 { top: 28.4em; }

@media (orientation: landscape) and (min-width: 533px) { .tech-left-1, .tech-left-2 { margin-left: 6.2em; width: 25%; }
  .tech-right-1 { margin-left: 18.8em; width: 25%; }
  .point-line { top: 9em; height: 23.8em; } }

@media (orientation: portrait) and (min-width: 360px) { .tech-right-1 { margin-left: 12.8em; }
  .point-line { top: 9em; height: 23.8em; } }

@media (orientation: landscape) and (min-width: 640px) { .tech-left-1, .tech-left-2 { margin-left: 7.5em; }
  .tech-right-1 { margin-left: 22.6em; }
  .point-line { top: 9em; height: 21.5em; }
  .pointer-3 { top: 26.8em; } }

@media (orientation: portrait) and (min-width: 411px) { .tech-left-1, .tech-left-2 { margin-left: 1.6em; }
  .tech-right-1 { margin-left: 14.5em; }
  .point-line { height: 22.3em; }
  .pointer-3 { top: 27em; } }

@media (orientation: landscape) and (min-width: 731px) { .tech-left-1, .tech-left-2 { margin-left: 8.5em; }
  .tech-right-1 { margin-left: 25.7em; }
  .point-line { height: 9em; height: 21.5em; } }

@media (orientation: portrait) and (min-width: 375px) and (min-height: 812px) { .tech-left-1, .tech-left-2 { margin-left: 1.5em; }
  .tech-right-1 { margin-left: 13.2em; }
  .point-line { top: 9em; height: 23.8em; } }

@media (orientation: landscape) and (min-width: 812px) { h6 { font-size: 20px; }
  .description { font-size: 12px; }
  .tech-left-1, .tech-left-2 { margin-left: 9.2em; }
  .tech-right-1 { margin-left: 28.8em; }
  .point-line { top: 9em; height: 22.5em; }
  .pointer-3 { top: 27.2em; } }

@media (orientation: portrait) and (min-width: 768px) { h6 { font-size: 22px; }
  .description { font-size: 15px; }
  .tech-left-1, .tech-left-2 { margin-left: 9.2em; width: 24%; }
  .tech-right-1 { margin-left: 27.1em; width: 24%; }
  .point-line { width: 4px; top: 9em; height: 29em; }
  .pointer-1, .pointer-2, .pointer-3 { height: 30px; width: 30px; }
  .pointer-1 { top: 14.7em; }
  .pointer-2 { top: 25em; }
  .pointer-3 { top: 33em; } }

@media (orientation: landscape) and (min-width: 1024px) { .tech-left-1, .tech-left-2 { width: 20%; margin-left: 15.1em; }
  .tech-right-1 { margin-left: 36em; width: 20%; }
  .point-line { top: 9em; width: 4px; height: 22.5em; } }

@media (orientation: portrait) and (min-width: 1024px) and (min-height: 1366px) { h6 { font-size: 26px; }
  .description { font-size: 17px; }
  .tech-left-1, .tech-left-2 { margin-left: 12.5em; }
  .tech-right-1 { margin-left: 35.9em; }
  .point-line { top: 9em; height: 31.9em; }
  .pointer-2 { top: 27.5em; }
  .pointer-3 { top: 35.5em; } }

@media (orientation: landscape) and (min-width: 1366px) and (min-height: 768px) { .tech-right-1 { margin-left: 53em; width: 20%; }
  .point-line { top: 9em; height: 20.8em; width: 4px; }
  .pointer-3 { top: 26em; } }

@media (min-width: 1400px) { h2 { font-size: 40px; margin-bottom: 2em; }
  h6 { font-size: 30px; }
  .description { font-size: 19px; padding: 16px; }
  .point-line { top: 10.9em; height: 40.1em; width: 5px; }
  .tech-left-1, .tech-left-2, .tech-right-1 { padding: 16px; width: 18.5%; }
  .tech-left-1, .tech-left-2 { margin-left: 28.6em; }
  .tech-right-1 { margin-left: 67.5em; }
  .pointer-1, .pointer-2, .pointer-3 { height: 35px; width: 35px; }
  .pointer-1 { top: 18.5em; }
  .pointer-2 { top: 33em; }
  .pointer-3 { top: 44.5em; } }

.gallery { padding-top: 3em; position: relative; }

h2 { font-family: "Fira Mono", monospace; font-size: 30px; text-align: center; }

h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

.gallery-items { list-style-type: none; }

.gallery-item { border: 1px solid gray; height: 9em; overflow: hidden; position: relative; width: 14em; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; margin: 0 auto 2em auto; }

.gallery-item:hover .gallery-layout { left: 0; top: 0; }

.gallery-layout { background-color: rgba(57, 94, 102, 0.8); color: #fff; font-size: 12px; font-family: "Montserrat", sans-serif; height: 11.9em; left: 0; position: absolute; padding: 12px; top: 100%; transition: 0.6s; width: 18.5em; }

.gallery-layout p { text-shadow: 2px 1px 1px black; }

.code-button, .zoom-button, .github-button { border-style: none; background-color: #395E66; border: 2px solid #2c4950; height: 20%; position: absolute; top: 80.1%; width: 33.5%; }

.fa-github, .fa-search-plus, .fa-eye { color: rgba(245, 179, 118, 0.9); font-size: 18px; margin-top: 2px; margin-left: 1.4em; }

.code-button { left: 0; }

.zoom-button { left: 33%; }

.github-button { left: 66.4%; }

.project-picture { height: 9em; width: 14em; }

.gallery_items:hover .gallery-item { display: block; }

.modal-bg { display: none; }

.wrap.blur { filter: blur(3px); height: 100vh; }

.modal-bg.active { background-color: rgba(0, 0, 0, 0.6); display: block; height: 100%; left: 0; position: fixed; top: 0; width: 100%; }

.modal { height: 15%; left: 3%; position: absolute; top: 25%; width: 15%; }

.top { bottom: 150%; left: 12%; position: relative; }

.fa-times { color: lightgrey; cursor: pointer; font-size: 35px; left: 560%; line-height: 24px; position: absolute; top: 0; }

.fa-times:hover { color: #fff; }

.middle { position: relative; }

.middle:hover .icon { display: block; }

img { height: 12em; width: 18.8em; }

@media (orientation: landscape) and (min-width: 533px) { .gallery-items { display: -ms-flexbox; display: flex; }
  .gallery-item { width: 10em; height: 7em; margin: 0 auto 2em auto; }
  .gallery-layout { font-size: 10.8px; height: 10.2em; padding: 6px; width: 14.7em; }
  .fa-github, .fa-search-plus, .fa-eye { font-size: 14px; }
  .code-button { width: 34%; }
  .zoom-button { left: 33.4%; }
  .github-button { left: 66.4%; }
  .project-picture { height: 7em; width: 10em; }
  .modal { height: 1em; left: 14%; top: 12%; }
  .modal .top { bottom: 1.6em; left: -1.5em; }
  .modal .middle img { height: 15em; width: 24em; } }

@media (orientation: portrait) and (min-width: 360px) { .fa-github, .fa-search-plus, .fa-eye { margin-top: 0.2em; margin-left: 1.4em; }
  .modal { left: 5%; top: 29%; }
  .modal .top { bottom: 11em; }
  .modal .middle img { height: 13.5em; width: 20.2em; } }

@media (orientation: landscape) and (min-width: 640px) { .gallery-item { height: 8em; width: 12em; }
  .gallery-layout { font-size: 12.8px; height: 9.9em; width: 14.9em; }
  .fa-github, .fa-search-plus, .fa-eye { font-size: 17px; }
  .project-picture { height: 8em; width: 12em; }
  .modal .top { bottom: 1.9em; }
  .modal .middle img { height: 17em; width: 28em; } }

@media (orientation: portrait) and (min-width: 411px) { .modal { top: 15em; }
  .modal .top { bottom: 14em; }
  .modal .middle img { height: 14.5em; width: 23em; } }

@media (orientation: landscape) and (min-width: 731px) { .gallery-item { height: 10em; width: 14em; }
  .gallery-layout { font-size: 13.8px; height: 11.5em; padding: 16px; width: 16.1em; }
  .fa-github, .fa-search-plus, .fa-eye { font-size: 21px; margin-top: 0.2em; }
  .fa-eye { margin-left: 1.2em; }
  .project-picture { height: 10em; width: 14em; }
  .modal { left: 7.7em; top: 3.5em; }
  .modal .top { bottom: 2.5em; left: -2.8em; }
  .modal .middle img { height: 19em; width: 30em; } }

@media (orientation: portrait) and (min-width: 375px) and (min-height: 812px) { .modal { top: 17em; left: 0.7em; }
  .modal .top { bottom: 15.8em; }
  .modal .middle img { height: 13.5em; width: 22em; } }

@media (orientation: landscape) and (min-width: 812px) { .gallery-item { height: 10em; width: 15.5em; }
  .gallery-layout { font-size: 15.8px; height: 10.1em; }
  .fa-github, .fa-search-plus, .fa-eye { font-size: 21px; }
  .project-picture { height: 10em; width: 15.5em; }
  .modal { left: 10.7em; top: 2em; }
  .modal .top { bottom: 1.3em; left: -4.8em; } }

@media (orientation: portrait) and (min-width: 768px) { h2 { font-size: 30px; }
  .gallery-items { display: -ms-flexbox; display: flex; }
  .fa-github, .fa-search-plus, .fa-eye { font-size: 20px; margin-top: 0.1em; }
  .fa-eye { margin-left: 1.1em; }
  .modal { top: 18em; left: 1.5em; }
  .modal .top { bottom: 16.6em; left: 3em; }
  .modal .top .fa-times { font-size: 50px; }
  .modal .middle img { height: 25.5em; width: 45em; } }

@media (orientation: landscape) and (min-width: 1024px) { .gallery-item { height: 13em; width: 19.5em; }
  .gallery-layout { font-size: 19.3px; height: 10.7em; width: 16.1em; }
  .fa-github, .fa-search-plus, .fa-eye { font-size: 26px; margin-top: 6px; margin-left: 1.5em; }
  .fa-github { margin-left: 1.6em; }
  .fa-eye { margin-left: 1.4em; }
  .project-picture { height: 13em; width: 19.5em; }
  .modal { left: 2em; top: 6em; }
  .modal .top { bottom: 4.3em; left: 4.8em; }
  .modal .top .fa-times { font-size: 45px; }
  .modal .middle img { height: 35em; width: 60em; } }

@media (orientation: landscape) and (min-width: 1366px) { h2 { font-size: 40px; }
  .gallery-items { margin: 0 auto 2em auto; }
  .gallery-item { height: 17em; width: 25.5em; left: 1.5em; }
  .gallery-layout { cursor: default; font-size: 25.2px; height: 10.7em; }
  .code-button, .zoom-button, .github-button { transition: 0.3s; cursor: pointer; }
  .code-button:hover, .zoom-button:hover, .github-button:hover { background-color: rgba(255, 255, 255, 0.3); }
  .code-button:hover .fa-github, .code-button:hover .fa-search-plus, .code-button:hover .fa-eye, .zoom-button:hover .fa-github, .zoom-button:hover .fa-search-plus, .zoom-button:hover .fa-eye, .github-button:hover .fa-github, .github-button:hover .fa-search-plus, .github-button:hover .fa-eye { color: #333; }
  .code-button .fa-github, .code-button .fa-search-plus, .code-button .fa-eye, .zoom-button .fa-github, .zoom-button .fa-search-plus, .zoom-button .fa-eye, .github-button .fa-github, .github-button .fa-search-plus, .github-button .fa-eye { font-size: 34px; }
  .project-picture { height: 17em; width: 25.5em; }
  .modal { left: 2.7em; top: 9.5em; }
  .modal .top { bottom: 7.8em; left: 7.5em; }
  .modal .top .fa-times { font-size: 55px; }
  .modal .middle img { height: 45em; width: 80em; } }

@media (orientation: landscape) and (min-width: 1366px) and (min-height: 768px) { h2 { font-size: 30px; }
  .gallery-item { height: 17em; margin: 0.8em 0 0 1.5em; width: 25.5em; left: 1.5em; }
  .gallery-layout { cursor: default; font-size: 25.2px; height: 10.8em; }
  .code-button, .zoom-button, .github-button { transition: 0.3s; cursor: pointer; }
  .code-button:hover, .zoom-button:hover, .github-button:hover { background-color: rgba(255, 255, 255, 0.3); }
  .code-button:hover .fa-github, .code-button:hover .fa-search-plus, .code-button:hover .fa-eye, .zoom-button:hover .fa-github, .zoom-button:hover .fa-search-plus, .zoom-button:hover .fa-eye, .github-button:hover .fa-github, .github-button:hover .fa-search-plus, .github-button:hover .fa-eye { color: #333; }
  .code-button .fa-github, .code-button .fa-search-plus, .code-button .fa-eye, .zoom-button .fa-github, .zoom-button .fa-search-plus, .zoom-button .fa-eye, .github-button .fa-github, .github-button .fa-search-plus, .github-button .fa-eye { font-size: 34px; margin-top: 8px; }
  .project-picture { height: 17em; width: 25.5em; }
  .modal { left: 2.7em; top: 9.5em; }
  .modal .top { bottom: 7.8em; left: 7.5em; }
  .modal .top .fa-times { font-size: 55px; }
  .modal .middle img { height: 45em; width: 80em; } }

@media (min-width: 1400px) { .gallery { margin-top: 1.5em; }
  h2 { font-size: 40px; }
  .gallery-item { height: 20em; width: 33.5em; left: 6.5em; top: 0; }
  .gallery-layout { cursor: default; font-size: 33.2px; height: 9.6em; }
  .code-button, .zoom-button, .github-button { cursor: pointer; transition: 0.3s; }
  .code-button:hover, .zoom-button:hover, .github-button:hover { background-color: rgba(255, 255, 255, 0.3); }
  .code-button:hover .fa-github, .code-button:hover .fa-search-plus, .code-button:hover .fa-eye, .zoom-button:hover .fa-github, .zoom-button:hover .fa-search-plus, .zoom-button:hover .fa-eye, .github-button:hover .fa-github, .github-button:hover .fa-search-plus, .github-button:hover .fa-eye { color: #333; }
  .code-button .fa-github, .code-button .fa-search-plus, .code-button .fa-eye, .zoom-button .fa-github, .zoom-button .fa-search-plus, .zoom-button .fa-eye, .github-button .fa-github, .github-button .fa-search-plus, .github-button .fa-eye { font-size: 40px; margin-left: 1.8em; }
  .project-picture { height: 20em; width: 33.5em; }
  .modal { left: 16.2em; top: 4.2em; }
  .modal .top { bottom: 2.5em; left: -1em; }
  .modal .top .fa-times { font-size: 65px; }
  .modal .middle img { height: 50em; width: 85em; } }

.footer { background-color: #222222; text-align: center; padding: 1.5em 16px 0 16px; color: #fff; }

.footer .col-3 { cursor: default; }

.footer .col-3 .fab, .footer .col-3 .fas { font-size: 22px; }

.footer .col-3 h3 { display: inline-block; padding-bottom: 2px; padding-top: 1em; }

.footer .col-3 a { color: #fff; }

.footer .col-3 a:hover { text-decoration: none; }

.footer .col-3 a p .social-title { font-size: 11px; }

.footer .footer-title { margin-top: 2em; }

.footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 1em; color: lightgray; padding-top: 4em; padding-bottom: 4em; }

@media (orientation: landscape) and (min-width: 533px) { .contact { position: relative; }
  .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; display: inline-block; position: absolute; top: 6.2em; left: 45%; width: 3em; }
  .footer { background-color: #222222; text-align: center; color: #fff; }
  .footer .col-3 { cursor: default; }
  .footer .col-3 .fab, .footer .col-3 .fas { font-size: 22px; }
  .footer .col-3 h3 { display: inline-block; padding-bottom: 2px; padding-top: 1em; }
  .footer .col-3 a { color: #fff; }
  .footer .col-3 a p:hover { transform: scale(1.1, 1.1); }
  .footer .col-3 a p .social-title { font-size: 14px; }
  .footer .footer-title { width: 100%; margin-top: 2em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 1em; color: lightgray; padding-top: 4em; padding-bottom: 4em; } }

@media (orientation: portrait) and (min-width: 360px) { .contact { position: relative; }
  .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; display: inline-block; position: absolute; top: 6.2em; left: 43.5%; width: 3em; }
  .footer { background-color: #222222; text-align: center; color: #fff; }
  .footer .col-3 { cursor: default; }
  .footer .col-3 .fab, .footer .col-3 .fas { font-size: 22px; }
  .footer .col-3 h3 { display: inline-block; padding-bottom: 2px; padding-top: 1em; }
  .footer .col-3 a { color: #fff; }
  .footer .col-3 a p:hover { transform: scale(1.1, 1.1); }
  .footer .col-3 a p .social-title { font-size: 13px; }
  .footer .footer-title { float: left; width: 100%; margin-top: 2em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 1em; color: lightgray; padding-top: 4.5em; padding-bottom: 6.5em; } }

@media (orientation: landscape) and (min-width: 640px) { .contact { position: relative; }
  .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; display: inline-block; position: absolute; left: 46%; width: 3em; }
  .footer { background-color: #222222; text-align: center; color: #fff; }
  .footer .row { display: -ms-flexbox; display: flex; width: 100%; }
  .footer .col-3 { width: 40%; cursor: default; }
  .footer .col-3 .fab, .footer .col-3 .fas { font-size: 22px; }
  .footer .col-3 h3 { display: inline-block; padding-bottom: 2px; padding-top: 1em; }
  .footer .col-3 a { color: #fff; }
  .footer .col-3 a p:hover { transform: scale(1.1, 1.1); }
  .footer .col-3 .social-title { font-size: 11px; }
  .footer .footer-title { float: left; width: 100%; margin-top: 2em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 4em; color: lightgray; padding-top: 4em; padding-bottom: 4em; } }

@media (orientation: portrait) and (min-width: 411px) { .contact { position: relative; }
  .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; display: inline-block; position: absolute; top: 6.2em; left: 45%; width: 3em; }
  .footer { background-color: #222222; text-align: center; color: #fff; }
  .footer .col-3 { cursor: default; }
  .footer .col-3 .fab, .footer .col-3 .fas { font-size: 22px; }
  .footer .col-3 h3 { display: inline-block; padding-bottom: 2px; padding-top: 1em; }
  .footer .col-3 a { color: #fff; }
  .footer .col-3 a p:hover { transform: scale(1.1, 1.1); }
  .footer .col-3 a p .social-title { font-size: 13px; }
  .footer .footer-title { width: 100%; margin-top: 3em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 1em; color: lightgray; padding-top: 9em; padding-bottom: 10em; } }

@media (orientation: landscape) and (min-width: 731px) { .contact { position: relative; }
  .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; display: inline-block; position: absolute; left: 46.5%; width: 3em; }
  .footer { background-color: #222222; text-align: center; color: #fff; }
  .footer .col-3 { cursor: default; }
  .footer .col-3 .fab, .footer .col-3 .fas { font-size: 22px; }
  .footer .col-3 h3 { display: inline-block; padding-bottom: 2px; padding-top: 1em; }
  .footer .col-3 a { color: #fff; }
  .footer .col-3 a p:hover { transform: scale(1.1, 1.1); }
  .footer .col-3 a p .social-title { font-size: 14px; }
  .footer .footer-title { width: 100%; margin-top: 3em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 4em; color: lightgray; padding-top: 4em; padding-bottom: 4em; } }

@media (orientation: portrait) and (min-width: 375px) { .contact { position: relative; }
  .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; display: inline-block; position: absolute; top: 6.2em; left: 45%; width: 3em; }
  .footer { background-color: #222222; text-align: center; padding-top: 1.5em; color: #fff; }
  .footer .col-3 { cursor: default; }
  .footer .col-3 .fab, .footer .col-3 .fas { font-size: 22px; }
  .footer .col-3 h3 { display: inline-block; padding-bottom: 2px; padding-top: 1em; }
  .footer .col-3 a { color: #fff; }
  .footer .col-3 a p:hover { transform: scale(1.1, 1.1); }
  .footer .col-3 a p .social-title { font-size: 13px; }
  .footer .footer-title { width: 100%; margin-top: 3em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 1em; color: lightgray; padding-top: 9em; padding-bottom: 11.2em; } }

@media (orientation: landscape) and (min-width: 812px) { .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; left: 47.5%; width: 3em; }
  .footer { background-color: #222222; text-align: center; color: #fff; position: relative; }
  .footer .row { position: absolute; top: 2.5em; left: 8%; width: 85%; }
  .footer .row .col-3 { width: 40%; }
  .footer .row .col-3 .fab, .footer .row .col-3 .fas { font-size: 22px; }
  .footer .row .col-3 h3 { display: inline-block; padding-bottom: 10px; }
  .footer .row .col-3 p { font-size: 11px; }
  .footer .row .col-3 p .social-title { font-size: 14px; }
  .footer .footer-title { margin-top: 6em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 4.5em; color: lightgray; padding-top: 4em; } }

@media (orientation: portrait) and (min-width: 768px) { .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; left: 47.5%; width: 3em; }
  .footer { background-color: #222222; text-align: center; color: #fff; position: relative; }
  .footer .row { display: -ms-flexbox; display: flex; position: absolute; top: 2.5em; left: 8%; width: 90%; }
  .footer .row .col-3 { width: 31%; }
  .footer .row .col-3 .fab, .footer .row .col-3 .fas { font-size: 22px; }
  .footer .row .col-3 h3 { display: inline-block; padding-bottom: 10px; }
  .footer .row .col-3 p { font-size: 10px; }
  .footer .row .col-3 p .social-title { font-size: 14px; }
  .footer .footer-title { margin-top: 6em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 4.5em; color: lightgray; padding-top: 4em; } }

@media (orientation: landscape) and (min-width: 1024px) { .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; left: 47.5%; width: 3em; }
  .footer { background-color: #222222; text-align: center; color: #fff; position: relative; }
  .footer .row { position: absolute; top: 2.5em; left: 8%; width: 85%; }
  .footer .row .col-3 { width: 32.5%; }
  .footer .row .col-3 .fab, .footer .row .col-3 .fas { font-size: 22px; }
  .footer .row .col-3 h3 { display: inline-block; padding-bottom: 10px; }
  .footer .row .col-3 .social-title { font-size: 14px; }
  .footer .footer-title { margin-top: 6em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 6em; color: lightgray; padding-top: 4em; } }

@media (orientation: portrait) and (min-width: 1024px) and (min-height: 1366px) { .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; left: 47.5%; width: 3em; }
  .footer { background-color: #222222; text-align: center; color: #fff; position: relative; }
  .footer .row { position: absolute; top: 2.5em; left: 8%; width: 85%; }
  .footer .row .col-3 { float: left; width: 35%; }
  .footer .row .col-3 .fab, .footer .row .col-3 .fas { font-size: 22px; }
  .footer .row .col-3 h3 { display: inline-block; padding-bottom: 10px; }
  .footer .row .col-3 .social-title { font-size: 14px; }
  .footer .footer-title { margin-top: 6em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 6em; color: lightgray; padding-top: 4em; } }

@media (orientation: landscape) and (min-width: 1366px) { .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; top: 7.5%; left: 48%; width: 3em; }
  .footer { background-color: #222222; text-align: center; color: #fff; position: relative; }
  .footer .row { position: absolute; top: 2.5em; left: 8%; width: 95%; }
  .footer .row .col-3 { width: 85%; }
  .footer .row .col-3 .fab, .footer .row .col-3 .fas { font-size: 22px; }
  .footer .row .col-3 h3 { display: inline-block; padding-bottom: 10px; }
  .footer .row .col-3 p { font-size: 22px; }
  .footer .row .col-3 p .social-title { font-size: 12px; }
  .footer .footer-title { margin-top: 6em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 4.5em; color: lightgray; padding-top: 4em; } }

@media (orientation: landscape) and (min-width: 1366px) and (min-height: 768px) { .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; top: 6em; left: 48%; width: 3em; }
  .footer { background-color: #222222; text-align: center; color: #fff; position: relative; }
  .footer .row { position: absolute; top: 2.5em; left: 8%; width: 85%; }
  .footer .row .col-3 { width: 45%; }
  .footer .row .col-3 .fab, .footer .row .col-3 .fas { font-size: 22px; }
  .footer .row .col-3 h3 { display: inline-block; padding-bottom: 10px; }
  .footer .row .col-3 .social-title { font-size: 16px; }
  .footer .footer-title { margin-top: 6em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 4.5em; color: lightgray; padding-top: 4em; } }

@media (orientation: landscape) and (min-width: 1600px) { .contact { margin-bottom: 5.8em; padding-top: 3.8em; }
  .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 40px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; top: 7.5em; left: 48.5%; width: 3em; }
  .footer { background-color: #222222; text-align: center; color: #fff; position: relative; }
  .footer .row { position: absolute; top: 2.5em; left: 22.5%; width: 75%; }
  .footer .row .col-3 { width: 25%; }
  .footer .row .col-3 .fab, .footer .row .col-3 .fas { font-size: 22px; }
  .footer .row .col-3 h3 { display: inline-block; padding-bottom: 10px; }
  .footer .row .col-3 .social-title { font-size: 14px; }
  .footer .footer-title { margin-top: 6em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 26em; color: lightgray; padding-top: 4em; } }
