.burger { z-index: 1; position: fixed; top: 3%; right: 5%; width: 50px; height: 40px; color: #fff; font-size: 26px; background-color: #000; }

.burger i { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.burger.active + aside { display: block; width: 100%; }

aside { z-index: 1; display: none; position: fixed; top: 80px; left: 0; right: 0; background-color: #333333; }

aside nav ul { list-style: none; }

aside nav li { line-height: 2.2em; }

aside nav li:nth-child(1), aside nav li:nth-child(2), aside nav li:nth-child(3) { border-bottom: 1px solid gray; }

aside nav li:nth-child(1) a { padding: 13px 37.7em 13px 10px; }

aside nav li:nth-child(2) a { padding: 13px 19.4em 13px 10px; }

aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 36.3em 13px 10px; }

aside nav a { font-size: 13px; color: #fff; text-align: center; text-decoration: none; text-transform: uppercase; font-family: 'Alegreya Sans SC', sans-serif; }

.nav-block.active { top: 0; background-color: #fff; }

@media (orientation: landscape) and (min-width: 533px) { aside nav li { background-color: #333333; }
  aside nav li:nth-child(1) a { padding: 13px 37.7em 13px 10px; }
  aside nav li:nth-child(2) a { padding: 13px 35.9em 13px 10px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 37em 13px 10px; } }

@media (orientation: portrait) and (min-width: 360px) { aside { top: 80px; left: 0; }
  aside nav li:nth-child(1) a { padding: 13px 29.7em 13px 10px; }
  aside nav li:nth-child(2) a { padding: 13px 22.5em 13px 10px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 37em 13px 10px; } }

@media (orientation: landscape) and (min-width: 640px) { aside nav li:nth-child(1) a { padding: 13px 45.9em 13px 10px; }
  aside nav li:nth-child(2) a { padding: 13px 44.1em 13px 10px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 44.6em 13px 10px; } }

@media (orientation: portrait) and (min-width: 411px) and (min-height: 731px) { aside nav li:nth-child(1) a { padding: 13px 28.3em 13px 10px; }
  aside nav li:nth-child(2) a { padding: 13px 26.5em 13px 10px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 44.6em 13px 10px; } }

@media (orientation: landscape) and (min-width: 731px) { aside nav li:nth-child(1) a { padding: 13px 52.9em 13px 10px; }
  aside nav li:nth-child(2) a { padding: 13px 51.1em 13px 10px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 51.5em 13px 10px; } }

@media (orientation: landscape) and (min-width: 823px) { aside nav li:nth-child(1) a { padding: 13px 60.3em 13px 10px; }
  aside nav li:nth-child(2) a { padding: 13px 58.2em 13px 10px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 58.7em 13px 10px; } }

@media (orientation: portrait) and (min-width: 768px) { .burger { top: 1.5%; width: 60px; height: 50px; font-size: 36px; }
  aside { top: 80px; }
  aside nav li { padding: 13px 0 13px 0; }
  aside nav li:nth-child(1) a { padding: 20px 36.9em 20px 20px; }
  aside nav li:nth-child(2) a { padding: 20px 28.2em 20px 20px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 20px 28.7em 20px 20px; }
  aside nav a { width: 100%; font-size: 23px; color: #fff; text-align: center; text-decoration: none; text-transform: uppercase; font-family: 'Alegreya Sans SC', sans-serif; } }

@media (orientation: landscape) and (min-width: 812px) { aside nav li:nth-child(1) a { padding: 13px 59.2em 13px 10px; }
  aside nav li:nth-child(2) a { padding: 13px 57.3em 13px 10px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 58.7em 13px 10px; } }

@media (orientation: landscape) and (min-width: 1024px) { .nav-block { z-index: 1; position: fixed; left: 0; height: 67px; width: 100%; box-shadow: 0 0 65px 5px grey; top: -95px; transition: .7s; }
  .burger { display: none; }
  .burger.active { display: none; }
  aside { display: inline-block; top: 0; background-color: transparent; }
  aside nav ul { position: absolute; top: 4.5%; right: 22%; }
  aside nav li { float: left; border: none; background-color: transparent; padding: 0 25px; }
  aside nav li:nth-child(1), aside nav li:nth-child(2), aside nav li:nth-child(3) { border: none; }
  aside nav li:nth-child(1) a, aside nav li:nth-child(2) a, aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 0; line-height: 64px; font-weight: bold; }
  aside nav a { font-size: 14px; color: #fff; }
  aside nav a:hover { color: #d4dad8; }
  .active .nav-link { color: gray; }
  .active .nav-link:hover { color: black; } }

* { margin: 0; padding: 0; scroll-behavior: smooth; box-sizing: border-box; }

.clearfix::after { content: ""; display: block; clear: both; }

body header { height: auto; padding: 40vh 0 50vh; background-image: url(../images/photo1.jpg); background-attachment: fixed; background-repeat: no-repeat; background-position: center; background-size: cover; }

body header .welcome { width: 100%; text-align: left; text-transform: uppercase; font-size: 20px; color: #fff; font-family: 'Open Sans', sans-serif; }

body header .welcome .text { display: inline-block; padding-left: .5em; }

body header .welcome p { text-shadow: 2px 2px 2px black; padding-top: .5em; font-size: 10px; letter-spacing: 2px; margin: auto 1em; }

body header .welcome .cursor { opacity: 0; transition: .2s; color: #ccc; }

body header .welcome .cursor.active { opacity: 1; }

body header .mouse { position: absolute; bottom: 1em; left: 50%; width: 30px; height: 48px; border: 2px solid #fff; border-radius: 40%; transform: translateX(-50%); }

body header .mouse .scroll { position: relative; width: 5px; height: 10px; top: 15%; left: 50%; transform: translateX(-50%); background-color: #fff; border-radius: 30%; animation: move-scroll 1.5s linear infinite; }

@keyframes move-scroll { 50% { top: 30%; }
  100% { top: 15%; } }

@media (orientation: landscape) and (min-width: 533px) { body .wrap header { padding-bottom: 45vh; }
  body .wrap header .welcome { font-size: 25px; }
  body .wrap header p { margin-left: 1.5em; }
  body .wrap header .mouse { height: 32px; width: 20px; }
  body .wrap header .mouse .scroll { height: 8px; width: 3px; } }

@media (orientation: portrait) and (min-width: 360px) { body .wrap header { padding-bottom: 52vh; }
  body .wrap header .welcome { font-size: 22px; }
  body .wrap header p { margin-left: 1.2em; } }

@media (orientation: landscape) and (min-width: 640px) { body .wrap header { padding-bottom: 45vh; }
  body .wrap header .welcome { font-size: 29px; }
  body .wrap header p { margin-left: 1.6em; } }

@media (orientation: portrait) and (min-width: 411px) { body .wrap header { padding-bottom: 53vh; }
  body .wrap header .welcome { font-size: 22px; }
  body .wrap header p { margin-left: 1.2em; } }

@media (orientation: landscape) and (min-width: 731px) { .wrap header { padding-top: 45vh; }
  .wrap header .welcome p { font-size: 11px; margin-left: 1.5em; } }

@media (orientation: portrait) and (min-width: 375px) { body .wrap header { padding-bottom: 55vh; } }

@media (orientation: portrait) and (min-width: 768px) { body .wrap header { padding-bottom: 53vh; }
  body .wrap header .welcome { font-size: 36px; }
  body .wrap header .welcome .text { margin-left: .2em; }
  body .wrap header .welcome p { font-size: 16px; margin-left: 1.7em; }
  body .wrap .mouse { height: 65px; width: 45px; }
  body .wrap .mouse .scroll { height: 13px; width: 6px; } }

@media (orientation: landscape) and (min-width: 1024px) and (min-height: 768px) { body .wrap header { padding-top: 43vh; }
  body .wrap header .welcome { font-size: 62px; top: 5em; left: 0; text-align: left; }
  body .wrap header .welcome .text { margin-left: .2em; }
  body .wrap header .welcome p { font-size: 16px; margin-left: 3em; }
  body .wrap header .mouse { width: 35px; height: 55px; }
  body .wrap header .mouse .scroll { width: 5px; height: 10px; } }

@media (orientation: portrait) and (min-width: 1024px) { body .wrap header { padding: 43vh 0 44vh; }
  body .wrap header .welcome .text { margin-left: .2em; }
  body .wrap header .welcome p { margin: 0 0 123px 1.7em; } }

@media (orientation: landscape) and (min-width: 1366px) { body .wrap .header { padding: 33vh 0 45vh; }
  body .wrap .header .welcome .text { margin-left: .2em; }
  body .wrap .header .welcome p { margin: 0 0 123px 2.4em; font-size: 20px; } }

@media (min-width: 1600px) { body .wrap .header { padding: 37vh 0 43vh; }
  body .wrap .header .welcome { font-size: 42px; }
  body .wrap .header .welcome .text { margin-left: .2em; }
  body .wrap .header .welcome p { font-size: 18px; margin-left: 1.8em; } }

.about-me { font-family: 'Montserrat', sans-serif; position: relative; padding-top: 3em; }

.about-me h2 { font-size: 30px; margin-bottom: 3em; text-align: center; }

.about-me h2 span { background: linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

.about-me .title-line { border-bottom: 2px solid gray; top: 12.7%; left: 43%; position: absolute; width: 3em; }

.about-me h6 { font-size: 18px; }

.about-me .description { color: grey; font-size: 11px; padding: 8px; }

.about-me .description li { list-style-type: none; }

.about-me .tech-left-1, .about-me .tech-left-2, .about-me .tech-right-1 { box-shadow: 1px 1px 15px 1px lightgray; height: 12.5em; padding: 3px; width: 37%; }

.about-me .tech-left-1, .about-me .tech-left-2 { margin-left: 1.3em; }

.about-me .tech-right-1 { margin-left: 11.3em; }

.about-me .point-line { position: absolute; top: 10.8em; left: 50%; transform: translateX(-50%); width: 3px; height: 37.4em; background-color: #000; }

.about-me .pointer-1, .about-me .pointer-2, .about-me .pointer-3 { border-radius: 50%; background-color: orangered; height: 25px; left: 50%; position: absolute; transform: translateX(-50%); width: 25px; }

.about-me .pointer-1 { top: 15.5em; }

.about-me .pointer-2 { top: 28.5em; }

.about-me .pointer-3 { top: 40.5em; }

@media (orientation: landscape) and (min-width: 533px) { .about-me .title-line { left: 46%; }
  .about-me .tech-left-1, .about-me .tech-left-2 { margin-left: 2.2em; }
  .about-me .tech-right-1 { margin-left: 18.8em; } }

@media (orientation: portrait) and (min-width: 360px) { .about-me .title-line { left: 43.5%; }
  .about-me .tech-left-1, .about-me .tech-left-2 { margin-left: 1.4em; }
  .about-me .tech-right-1 { margin-left: 12.8em; } }

@media (orientation: landscape) and (min-width: 640px) { .about-me .title-line { left: 46.5%; }
  .about-me .tech-left-1, .about-me .tech-left-2 { margin-left: 2.5em; }
  .about-me .tech-right-1 { margin-left: 22.6em; } }

@media (orientation: portrait) and (min-width: 411px) { .about-me .title-line { left: 44.5%; }
  .about-me .tech-left-1, .about-me .tech-left-2 { margin-left: 1.6em; }
  .about-me .tech-right-1 { margin-left: 14.5em; } }

@media (orientation: landscape) and (min-width: 731px) { .about-me .title-line { left: 47%; }
  .about-me .tech-left-1, .about-me .tech-left-2 { margin-left: 3em; }
  .about-me .tech-right-1 { margin-left: 25.7em; } }

@media (orientation: portrait) and (min-width: 375px) and (min-height: 812px) { .about-me .title-line { left: 44.5%; }
  .about-me .tech-left-1, .about-me .tech-left-2 { margin-left: 1.5em; }
  .about-me .tech-right-1 { margin-left: 13.2em; } }

@media (orientation: landscape) and (min-width: 812px) { .about-me h6 { font-size: 20px; }
  .about-me .description { font-size: 12px; }
  .about-me .title-line { left: 47.2%; }
  .about-me .tech-left-1, .about-me .tech-left-2 { margin-left: 3.2em; }
  .about-me .tech-right-1 { margin-left: 28.6em; } }

@media (orientation: portrait) and (min-width: 768px) { .about-me .title-line { left: 47%; }
  .about-me h6 { font-size: 22px; }
  .about-me .description { font-size: 15px; }
  .about-me .tech-left-1, .about-me .tech-left-2 { margin-left: 3.2em; }
  .about-me .tech-right-1 { margin-left: 27.1em; }
  .about-me .point-line { top: 10.2em; width: 4px; }
  .about-me .pointer-1, .about-me .pointer-2, .about-me .pointer-3 { height: 30px; width: 30px; }
  .about-me .pointer-1 { top: 15.5em; }
  .about-me .pointer-2 { top: 28.5em; }
  .about-me .pointer-3 { top: 40.5em; } }

@media (orientation: landscape) and (min-width: 1024px) { .about-me { padding-top: 3em; }
  .about-me h2 { padding: 0; }
  .about-me .title-line { top: 14%; left: 47.8%; }
  .about-me .tech-left-1, .about-me .tech-left-2 { margin-left: 4.1em; }
  .about-me .tech-right-1 { margin-left: 36em; } }

@media (orientation: portrait) and (min-width: 1024px) and (min-height: 1366px) { .about-me .title-line { top: 14.5%; left: 47.7%; }
  .about-me h6 { font-size: 26px; }
  .about-me .description { font-size: 17px; }
  .about-me .tech-left-1, .about-me .tech-left-2 { margin-left: 4em; }
  .about-me .tech-right-1 { margin-left: 35.9em; }
  .about-me .point-line { top: 11.3em; height: 37.4em; }
  .about-me .pointer-1 { top: 16.5em; }
  .about-me .pointer-2 { top: 29.5em; }
  .about-me .pointer-3 { top: 41.5em; } }

@media (orientation: landscape) and (min-width: 1366px) { .about-me .title-line { top: 14%; left: 48.3%; }
  .about-me .tech-left-1, .about-me .tech-left-2 { margin-left: 5.4em; }
  .about-me .tech-right-1 { margin-left: 48em; }
  .about-me .point-line { top: 10.4em; height: 37.5em; }
  .about-me .pointer-1, .about-me .pointer-2, .about-me .pointer-3 { height: 30px; width: 30px; }
  .about-me .pointer-1 { top: 15.5em; }
  .about-me .pointer-2 { top: 28.5em; }
  .about-me .pointer-3 { top: 40.5em; } }

@media (orientation: landscape) and (min-width: 1366px) and (min-height: 768px) { .about-me .title-line { border-bottom: 2px solid gray; top: 13%; left: 48.2%; }
  .about-me .point-line { top: 11em; height: 37em; width: 4px; }
  .about-me .pointer-1 { top: 16.5em; }
  .about-me .pointer-2 { top: 29em; }
  .about-me .pointer-3 { top: 41.5em; } }

@media (orientation: landscape) and (min-width: 1600px) { .about-me h2 { font-size: 40px; margin-bottom: 2em; }
  .about-me .title-line { border-bottom: 2px solid gray; top: 7.5%; left: 48.8%; }
  .about-me h6 { font-size: 30px; }
  .about-me .description { font-size: 19px; padding: 16px; }
  .about-me .point-line { top: 10.9em; height: 76.5em; width: 5px; }
  .about-me .tech-left-1, .about-me .tech-left-2, .about-me .tech-right-1 { height: 25.5em; padding: 16px; width: 37%; }
  .about-me .tech-left-1, .about-me .tech-left-2 { margin-left: 7.6em; }
  .about-me .tech-right-1 { margin-left: 67.5em; }
  .about-me .pointer-1, .about-me .pointer-2, .about-me .pointer-3 { height: 35px; width: 35px; }
  .about-me .pointer-1 { top: 23.5em; }
  .about-me .pointer-2 { top: 48.5em; }
  .about-me .pointer-3 { top: 73.5em; } }

.gallery { padding-top: 3em; position: relative; }

.gallery h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }

.gallery h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

.gallery .title-line2 { border-bottom: 2px solid gray; position: absolute; top: 15.5%; left: 42%; width: 3em; }

.gallery .gallery-items { list-style-type: none; margin-top: 4.5em; }

.gallery .gallery-items .gallery-item { border: 1px solid gray; height: 9em; margin: 1em 0 0 3em; overflow: hidden; position: relative; width: 14em; }

.gallery .gallery-items .gallery-item:hover .gallery-layout { left: 0; top: 0; }

.gallery .gallery-items .gallery-item .gallery-layout { background-color: rgba(255, 69, 0, 0.8); color: #fff; font-size: 12px; font-family: 'Montserrat', sans-serif; height: 11.9em; left: 0; position: absolute; padding: 12px; top: 100%; transition: .6s; width: 18.5em; }

.gallery .gallery-items .gallery-item .gallery-layout p { text-shadow: 2px 1px 1px black; }

.gallery .gallery-items .gallery-item .gallery-layout .code-button, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button, .gallery .gallery-items .gallery-item .gallery-layout .github-button { border-style: none; background-color: rgba(255, 69, 0, 0.7); border: 2px solid rgba(182, 25, 33, 0.6); height: 20%; position: absolute; top: 80.1%; width: 33.5%; }

.gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-eye { color: rgba(245, 179, 118, 0.9); font-size: 18px; margin-top: 2px; margin-left: 1.4em; }

.gallery .gallery-items .gallery-item .gallery-layout .code-button { left: 0; }

.gallery .gallery-items .gallery-item .gallery-layout .zoom-button { left: 33%; }

.gallery .gallery-items .gallery-item .gallery-layout .github-button { left: 66.4%; }

.gallery .gallery-items .gallery-item .project-picture { height: 9em; width: 14em; }

.gallery .gallery_items:hover .gallery-item { display: block; }

.modal-bg { display: none; }

.wrap.blur { filter: blur(3px); height: 100vh; }

.modal-bg.active { background-color: rgba(0, 0, 0, 0.6); display: block; height: 100%; left: 0; position: fixed; top: 0; width: 100%; }

.modal-bg.active .modal { height: 15%; left: 3%; position: absolute; top: 25%; width: 15%; }

.modal-bg.active .modal .top { bottom: 150%; left: 12%; position: relative; }

.modal-bg.active .modal .top i.fa-times { color: lightgrey; cursor: pointer; font-size: 35px; left: 560%; line-height: 24px; position: absolute; top: 0; }

.modal-bg.active .modal .top i.fa-times:hover { color: #fff; }

.modal-bg.active .modal .middle { position: relative; }

.modal-bg.active .modal .middle img { height: 12em; width: 18.8em; }

.modal-bg.active .modal .middle:hover .icon { display: block; }

@media (orientation: landscape) and (min-width: 533px) { .gallery .title-line2 { top: 36.5%; left: 45%; }
  .gallery .gallery-items { margin-top: 4em; }
  .gallery .gallery-items .gallery-item { float: left; margin: 1em 0 0 .8em; width: 10em; height: 7em; }
  .gallery .gallery-items .gallery-item .gallery-layout { font-size: 10.8px; height: 10.2em; padding: 6px; width: 14.7em; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-eye { font-size: 14px; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button { width: 34%; }
  .gallery .gallery-items .gallery-item .gallery-layout .zoom-button { left: 33.4%; }
  .gallery .gallery-items .gallery-item .gallery-layout .github-button { left: 66.4%; }
  .gallery .gallery-items .gallery-item .project-picture { height: 7em; width: 10em; }
  .modal-bg.active .modal { height: 1em; left: 14%; top: 12%; }
  .modal-bg.active .modal .top { bottom: 1.6em; left: -1.5em; }
  .modal-bg.active .modal .middle img { height: 15em; width: 24em; } }

@media (orientation: portrait) and (min-width: 360px) { .gallery .title-line2 { top: 16%; left: 43%; }
  .gallery .gallery-items { margin-top: 5em; }
  .gallery .gallery-items .gallery-item { margin: 1em 0 0 4.2em; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-eye { margin-top: .2em; margin-left: 1.4em; }
  .modal-bg.active .modal { left: 5%; top: 29%; }
  .modal-bg.active .modal .top { bottom: 11em; }
  .modal-bg.active .modal .middle img { height: 13.5em; width: 20.2em; } }

@media (orientation: landscape) and (min-width: 640px) { .gallery .title-line2 { top: 35%; left: 46%; }
  .gallery .gallery-items .gallery-item { height: 8em; margin: .7em 0 0 1em; width: 12em; }
  .gallery .gallery-items .gallery-item .gallery-layout { font-size: 12.8px; height: 9.9em; width: 14.9em; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-eye { font-size: 17px; }
  .gallery .gallery-items .gallery-item .project-picture { height: 8em; width: 12em; }
  .modal-bg.active .modal .top { bottom: 1.9em; }
  .modal-bg.active .modal .middle img { height: 17em; width: 28em; } }

@media (orientation: portrait) and (min-width: 411px) { .gallery .title-line2 { left: 44%; }
  .gallery .gallery-items .gallery-item { margin: 1em 0 0 5.5em; }
  .modal-bg.active .modal { top: 15em; }
  .modal-bg.active .modal .top { bottom: 14em; }
  .modal-bg.active .modal .middle img { height: 14.5em; width: 23em; } }

@media (orientation: landscape) and (min-width: 731px) { .gallery .title-line2 { top: 31.5%; left: 46.5%; }
  .gallery .gallery-items .gallery-item { height: 10em; margin: .7em 0 0 .9em; width: 14em; }
  .gallery .gallery-items .gallery-item .gallery-layout { font-size: 13.8px; height: 11.4em; padding: 16px; width: 16.1em; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-eye { font-size: 21px; margin-top: .2em; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-eye { margin-left: 1.2em; }
  .gallery .gallery-items .gallery-item .project-picture { height: 10em; width: 14em; }
  .modal-bg.active .modal { left: 7.7em; top: 3.5em; }
  .modal-bg.active .modal .top { bottom: 2.5em; left: -2.8em; }
  .modal-bg.active .modal .middle img { height: 19em; width: 30em; } }

@media (orientation: portrait) and (min-width: 375px) and (min-height: 812px) { .gallery .title-line2 { left: 43%; }
  .gallery .gallery-items .gallery-item { margin: 1em 0 0 4.6em; }
  .modal-bg.active .modal { top: 17em; left: .7em; }
  .modal-bg.active .modal .top { bottom: 15.8em; }
  .modal-bg.active .modal .middle img { height: 13.5em; width: 22em; } }

@media (orientation: landscape) and (min-width: 812px) { .gallery .title-line2 { left: 47%; }
  .gallery .gallery-items .gallery-item { height: 10em; margin: .7em 0 0 1em; width: 15.5em; }
  .gallery .gallery-items .gallery-item .gallery-layout { font-size: 15.8px; height: 10.1em; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-eye { font-size: 21px; margin-top: 4px; }
  .gallery .gallery-items .gallery-item .project-picture { height: 10em; width: 15.5em; }
  .modal-bg.active .modal { left: 10.7em; top: 2em; }
  .modal-bg.active .modal .top { bottom: 1.3em; left: -4.8em; } }

@media (orientation: portrait) and (min-width: 768px) { .gallery h2 { font-size: 30px; }
  .gallery .title-line2 { top: 32.2%; left: 47%; }
  .gallery .gallery-items { margin-top: 4em; }
  .gallery .gallery-items .gallery-item { margin: 1em 0 0 1.5em; float: left; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-eye { font-size: 21px; margin-top: .1em; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-eye { margin-left: 1.1em; }
  .modal-bg.active .modal { top: 18em; left: 1.5em; }
  .modal-bg.active .modal .top { bottom: 16.6em; left: 3em; }
  .modal-bg.active .modal .top i.fa-times { font-size: 50px; }
  .modal-bg.active .modal .middle img { height: 25.5em; width: 45em; } }

@media (orientation: landscape) and (min-width: 1024px) { .gallery { padding-top: 4em; }
  .gallery .title-line2 { top: 31%; left: 47.5%; }
  .gallery .gallery-items .gallery-item { height: 13em; margin: .8em 0 0 1.2em; width: 19.5em; left: .3em; }
  .gallery .gallery-items .gallery-item .gallery-layout { font-size: 19.3px; height: 10.7em; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-eye { font-size: 26px; margin-top: 6px; margin-left: 1.5em; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-code-branch { margin-left: 1.6em; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-eye { margin-left: 1.4em; }
  .gallery .gallery-items .gallery-item .project-picture { height: 13em; width: 19.5em; }
  .modal-bg.active .modal { left: 2em; top: 6em; }
  .modal-bg.active .modal .top { bottom: 4.3em; left: 4.8em; }
  .modal-bg.active .modal .top i.fa-times { font-size: 45px; }
  .modal-bg.active .modal .middle img { height: 35em; width: 60em; } }

@media (orientation: portrait) and (min-width: 1024px) and (min-height: 1366px) { .gallery .title-line2 { border-bottom: 2px solid gray; top: 29%; left: 47.5%; }
  .gallery .gallery-items .gallery-item { margin: 1em 0 0 1.5em; height: 12em; width: 19em; }
  .gallery .gallery-items .gallery-item .gallery-layout { font-size: 16.3px; height: 11.6em; padding: 16px; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-eye { font-size: 26px; margin-top: 4px; margin-left: 1.5em; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-eye { margin-left: 1.3em; }
  .gallery .gallery-items .gallery-item .project-picture { height: 12em; width: 19em; }
  .modal-bg.active .modal { top: 24em; left: 2em; }
  .modal-bg.active .modal .top { bottom: 21.8em; left: 4em; }
  .modal-bg.active .modal .top i.fa-times { font-size: 65px; }
  .modal-bg.active .modal .middle img { height: 34.5em; width: 60em; } }

@media (orientation: landscape) and (min-width: 1366px) { .gallery h2 { font-size: 40px; }
  .gallery .title-line2 { top: 28%; left: 48.2%; }
  .gallery .gallery-items .gallery-item { height: 17em; margin: .8em 0 0 1.5em; width: 25.5em; left: 1.5em; }
  .gallery .gallery-items .gallery-item .gallery-layout { cursor: default; font-size: 25.2px; height: 10.7em; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button, .gallery .gallery-items .gallery-item .gallery-layout .github-button { transition: .3s; cursor: pointer; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button:hover, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button:hover, .gallery .gallery-items .gallery-item .gallery-layout .github-button:hover { background-color: rgba(255, 255, 255, 0.3); }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button:hover .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .code-button:hover .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .code-button:hover .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button:hover .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button:hover .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button:hover .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button:hover .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .github-button:hover .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .github-button:hover .fa-eye { color: #333; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-eye { font-size: 34px; }
  .gallery .gallery-items .gallery-item .project-picture { height: 17em; width: 25.5em; }
  .modal-bg.active .modal { left: 2.7em; top: 9.5em; }
  .modal-bg.active .modal .top { bottom: 7.8em; left: 7.5em; }
  .modal-bg.active .modal .top i.fa-times { font-size: 55px; }
  .modal-bg.active .modal .middle img { height: 45em; width: 80em; } }

@media (orientation: landscape) and (min-width: 1366px) and (min-height: 768px) { .gallery h2 { font-size: 30px; }
  .gallery .title-line2 { top: 25.5%; left: 48.2%; }
  .gallery .gallery-items .gallery-item { height: 17em; margin: .8em 0 0 1.5em; width: 25.5em; left: 1.5em; }
  .gallery .gallery-items .gallery-item .gallery-layout { cursor: default; font-size: 25.2px; height: 10.8em; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button, .gallery .gallery-items .gallery-item .gallery-layout .github-button { transition: .3s; cursor: pointer; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button:hover, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button:hover, .gallery .gallery-items .gallery-item .gallery-layout .github-button:hover { background-color: rgba(255, 255, 255, 0.3); }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button:hover .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .code-button:hover .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .code-button:hover .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button:hover .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button:hover .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button:hover .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button:hover .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .github-button:hover .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .github-button:hover .fa-eye { color: #333; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-eye { font-size: 34px; margin-top: 8px; }
  .gallery .gallery-items .gallery-item .project-picture { height: 17em; width: 25.5em; }
  .modal-bg.active .modal { left: 2.7em; top: 9.5em; }
  .modal-bg.active .modal .top { bottom: 7.8em; left: 7.5em; }
  .modal-bg.active .modal .top i.fa-times { font-size: 55px; }
  .modal-bg.active .modal .middle img { height: 45em; width: 80em; } }

@media (min-width: 1600px) { .gallery h2 { font-size: 40px; }
  .gallery .title-line2 { top: 24%; left: 48.7%; }
  .gallery .gallery-items .gallery-item { height: 20em; margin: 1.5em 0 0 1.8em; width: 33.5em; left: 5.5em; top: 0; }
  .gallery .gallery-items .gallery-item .gallery-layout { cursor: default; font-size: 33.2px; height: 9.6em; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button, .gallery .gallery-items .gallery-item .gallery-layout .github-button { cursor: pointer; transition: .3s; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button:hover, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button:hover, .gallery .gallery-items .gallery-item .gallery-layout .github-button:hover { background-color: rgba(255, 255, 255, 0.3); }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button:hover .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .code-button:hover .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .code-button:hover .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button:hover .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button:hover .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button:hover .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button:hover .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .github-button:hover .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .github-button:hover .fa-eye { color: #333; }
  .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .code-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .zoom-button .fa-eye, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-code-branch, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-search-plus, .gallery .gallery-items .gallery-item .gallery-layout .github-button .fa-eye { font-size: 40px; margin-left: 1.7em; }
  .gallery .gallery-items .gallery-item .project-picture { height: 20em; width: 33.5em; }
  .modal-bg.active .modal { left: 16.2em; top: 4.2em; }
  .modal-bg.active .modal .top { bottom: 2.5em; left: -1em; }
  .modal-bg.active .modal .top i.fa-times { font-size: 65px; }
  .modal-bg.active .modal .middle img { height: 50em; width: 85em; } }

.contact { margin-bottom: 4.6em; padding-top: 3em; position: relative; }

.contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }

.contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

.contact .title-line3 { border-bottom: 2px solid gray; display: inline-block; position: absolute; top: 6.2em; left: 43%; width: 3em; }

.footer { background-color: #222222; text-align: center; padding-top: 1.5em; color: #fff; }

.footer .col-3 { float: left; width: 100%; cursor: default; }

.footer .col-3 .fab, .footer .col-3 .fas { font-size: 22px; }

.footer .col-3 h3 { display: inline-block; padding-bottom: 2px; padding-top: 1em; }

.footer .col-3 a { color: #fff; }

.footer .col-3 a:hover { text-decoration: none; }

.footer .col-3 a p .social-title { font-size: 11px; }

.footer .footer-title { float: left; width: 100%; margin-top: 2em; }

.footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 1em; color: lightgray; padding-top: 4em; padding-bottom: 4em; }

@media (orientation: landscape) and (min-width: 533px) { .contact { position: relative; }
  .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; display: inline-block; position: absolute; top: 6.2em; left: 45%; width: 3em; }
  .footer { background-color: #222222; text-align: center; padding-top: 1.5em; color: #fff; }
  .footer .col-3 { float: left; width: 100%; cursor: default; }
  .footer .col-3 .fab, .footer .col-3 .fas { font-size: 22px; }
  .footer .col-3 h3 { display: inline-block; padding-bottom: 2px; padding-top: 1em; }
  .footer .col-3 a { color: #fff; }
  .footer .col-3 a p:hover { transform: scale(1.1, 1.1); }
  .footer .col-3 a p .social-title { font-size: 14px; }
  .footer .footer-title { float: left; width: 100%; margin-top: 2em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 1em; color: lightgray; padding-top: 4em; padding-bottom: 4em; } }

@media (orientation: portrait) and (min-width: 360px) { .contact { position: relative; }
  .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; display: inline-block; position: absolute; top: 6.2em; left: 43.5%; width: 3em; }
  .footer { background-color: #222222; text-align: center; padding-top: 1.5em; color: #fff; }
  .footer .col-3 { float: left; width: 100%; cursor: default; }
  .footer .col-3 .fab, .footer .col-3 .fas { font-size: 22px; }
  .footer .col-3 h3 { display: inline-block; padding-bottom: 2px; padding-top: 1em; }
  .footer .col-3 a { color: #fff; }
  .footer .col-3 a p:hover { transform: scale(1.1, 1.1); }
  .footer .col-3 a p .social-title { font-size: 13px; }
  .footer .footer-title { float: left; width: 100%; margin-top: 2em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 1em; color: lightgray; padding-top: 4.5em; padding-bottom: 6.5em; } }

@media (orientation: landscape) and (min-width: 640px) { .contact { position: relative; }
  .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; display: inline-block; position: absolute; left: 46%; width: 3em; }
  .footer { background-color: #222222; text-align: center; padding-top: 1.5em; color: #fff; }
  .footer .col-3 { float: left; width: 50%; cursor: default; }
  .footer .col-3 .fab, .footer .col-3 .fas { font-size: 22px; }
  .footer .col-3 h3 { display: inline-block; padding-bottom: 2px; padding-top: 1em; }
  .footer .col-3 a { color: #fff; }
  .footer .col-3 a p:hover { transform: scale(1.1, 1.1); }
  .footer .col-3 a p .social-title { font-size: 14px; }
  .footer .footer-title { float: left; width: 100%; margin-top: 2em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 4em; color: lightgray; padding-top: 4em; padding-bottom: 4em; } }

@media (orientation: portrait) and (min-width: 411px) { .contact { position: relative; }
  .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; display: inline-block; position: absolute; top: 6.2em; left: 45%; width: 3em; }
  .footer { background-color: #222222; text-align: center; padding-top: 1.5em; color: #fff; }
  .footer .col-3 { float: left; width: 100%; cursor: default; }
  .footer .col-3 .fab, .footer .col-3 .fas { font-size: 22px; }
  .footer .col-3 h3 { display: inline-block; padding-bottom: 2px; padding-top: 1em; }
  .footer .col-3 a { color: #fff; }
  .footer .col-3 a p:hover { transform: scale(1.1, 1.1); }
  .footer .col-3 a p .social-title { font-size: 13px; }
  .footer .footer-title { float: left; width: 100%; margin-top: 3em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 1em; color: lightgray; padding-top: 9em; padding-bottom: 10em; } }

@media (orientation: landscape) and (min-width: 731px) { .contact { position: relative; }
  .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; display: inline-block; position: absolute; left: 46.5%; width: 3em; }
  .footer { background-color: #222222; text-align: center; padding-top: 1.5em; color: #fff; }
  .footer .col-3 { float: left; width: 50%; cursor: default; }
  .footer .col-3 .fab, .footer .col-3 .fas { font-size: 22px; }
  .footer .col-3 h3 { display: inline-block; padding-bottom: 2px; padding-top: 1em; }
  .footer .col-3 a { color: #fff; }
  .footer .col-3 a p:hover { transform: scale(1.1, 1.1); }
  .footer .col-3 a p .social-title { font-size: 14px; }
  .footer .footer-title { float: left; width: 100%; margin-top: 3em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 4em; color: lightgray; padding-top: 4em; padding-bottom: 4em; } }

@media (orientation: portrait) and (min-width: 375px) { .contact { position: relative; }
  .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; display: inline-block; position: absolute; top: 6.2em; left: 45%; width: 3em; }
  .footer { background-color: #222222; text-align: center; padding-top: 1.5em; color: #fff; }
  .footer .col-3 { float: left; width: 100%; cursor: default; }
  .footer .col-3 .fab, .footer .col-3 .fas { font-size: 22px; }
  .footer .col-3 h3 { display: inline-block; padding-bottom: 2px; padding-top: 1em; }
  .footer .col-3 a { color: #fff; }
  .footer .col-3 a p:hover { transform: scale(1.1, 1.1); }
  .footer .col-3 a p .social-title { font-size: 13px; }
  .footer .footer-title { float: left; width: 100%; margin-top: 3em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 1em; color: lightgray; padding-top: 9em; padding-bottom: 11.2em; } }

@media (orientation: landscape) and (min-width: 812px) { .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; left: 47.5%; width: 3em; }
  .footer { background-color: #222222; text-align: center; padding-top: 2.5em; color: #fff; position: relative; }
  .footer .row { position: absolute; top: 2.5em; left: 8%; width: 85%; }
  .footer .row .col-3 { float: left; width: 25%; }
  .footer .row .col-3 .fab, .footer .row .col-3 .fas { font-size: 22px; }
  .footer .row .col-3 h3 { display: inline-block; padding-bottom: 10px; }
  .footer .row .col-3 p { font-size: 11px; }
  .footer .row .col-3 p .social-title { font-size: 14px; }
  .footer .footer-title { float: left; width: 100%; margin-top: 6em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 4.5em; color: lightgray; padding-top: 4em; } }

@media (orientation: portrait) and (min-width: 768px) { .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; left: 47.5%; width: 3em; }
  .footer { background-color: #222222; text-align: center; padding-top: 2.5em; color: #fff; position: relative; }
  .footer .row { position: absolute; top: 2.5em; left: 8%; width: 85%; }
  .footer .row .col-3 { float: left; width: 25%; }
  .footer .row .col-3 .fab, .footer .row .col-3 .fas { font-size: 22px; }
  .footer .row .col-3 h3 { display: inline-block; padding-bottom: 10px; }
  .footer .row .col-3 p { font-size: 10px; }
  .footer .row .col-3 p .social-title { font-size: 14px; }
  .footer .footer-title { float: left; width: 100%; margin-top: 6em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 4.5em; color: lightgray; padding-top: 4em; } }

@media (orientation: landscape) and (min-width: 1024px) { .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; left: 47.5%; width: 3em; }
  .footer { background-color: #222222; text-align: center; padding-top: 2.5em; color: #fff; position: relative; }
  .footer .row { position: absolute; top: 2.5em; left: 8%; width: 85%; }
  .footer .row .col-3 { float: left; width: 25%; }
  .footer .row .col-3 .fab, .footer .row .col-3 .fas { font-size: 22px; }
  .footer .row .col-3 h3 { display: inline-block; padding-bottom: 10px; }
  .footer .row .col-3 .social-title { font-size: 14px; }
  .footer .footer-title { float: left; width: 100%; margin-top: 6em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 6em; color: lightgray; padding-top: 4em; } }

@media (orientation: portrait) and (min-width: 1024px) and (min-height: 1366px) { .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; left: 47.5%; width: 3em; }
  .footer { background-color: #222222; text-align: center; padding-top: 2.5em; color: #fff; position: relative; }
  .footer .row { position: absolute; top: 2.5em; left: 8%; width: 85%; }
  .footer .row .col-3 { float: left; width: 25%; }
  .footer .row .col-3 .fab, .footer .row .col-3 .fas { font-size: 22px; }
  .footer .row .col-3 h3 { display: inline-block; padding-bottom: 10px; }
  .footer .row .col-3 .social-title { font-size: 14px; }
  .footer .footer-title { float: left; width: 100%; margin-top: 6em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 6em; color: lightgray; padding-top: 4em; } }

@media (orientation: landscape) and (min-width: 1366px) { .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; top: 7.5%; left: 48%; width: 3em; }
  .footer { background-color: #222222; text-align: center; padding-top: 2.5em; color: #fff; position: relative; }
  .footer .row { position: absolute; top: 2.5em; left: 8%; width: 85%; }
  .footer .row .col-3 { float: left; width: 25%; }
  .footer .row .col-3 .fab, .footer .row .col-3 .fas { font-size: 22px; }
  .footer .row .col-3 h3 { display: inline-block; padding-bottom: 10px; }
  .footer .row .col-3 p { font-size: 22px; }
  .footer .row .col-3 p .social-title { font-size: 12px; }
  .footer .footer-title { float: left; width: 100%; margin-top: 6em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 4.5em; color: lightgray; padding-top: 4em; } }

@media (orientation: landscape) and (min-width: 1366px) and (min-height: 768px) { .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 30px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; top: 6em; left: 48%; width: 3em; }
  .footer { background-color: #222222; text-align: center; padding-top: 2.5em; color: #fff; position: relative; }
  .footer .row { position: absolute; top: 2.5em; left: 8%; width: 85%; }
  .footer .row .col-3 { float: left; width: 25%; }
  .footer .row .col-3 .fab, .footer .row .col-3 .fas { font-size: 22px; }
  .footer .row .col-3 h3 { display: inline-block; padding-bottom: 10px; }
  .footer .row .col-3 .social-title { font-size: 16px; }
  .footer .footer-title { float: left; width: 100%; margin-top: 6em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 4.5em; color: lightgray; padding-top: 4em; } }

@media (orientation: landscape) and (min-width: 1600px) { .contact { margin-bottom: 5.8em; padding-top: 3.8em; }
  .contact h2 { font-family: 'Montserrat', sans-serif; font-size: 40px; text-align: center; }
  .contact h2 span { background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  .contact .title-line3 { border-bottom: 2px solid gray; top: 7.5em; left: 48.5%; width: 3em; }
  .footer { background-color: #222222; text-align: center; padding-top: 2.5em; color: #fff; position: relative; }
  .footer .row { position: absolute; top: 2.5em; left: 22.5%; width: 55%; }
  .footer .row .col-3 { float: left; width: 25%; }
  .footer .row .col-3 .fab, .footer .row .col-3 .fas { font-size: 22px; }
  .footer .row .col-3 h3 { display: inline-block; padding-bottom: 10px; }
  .footer .row .col-3 .social-title { font-size: 14px; }
  .footer .footer-title { float: left; width: 100%; margin-top: 6em; }
  .footer .footer-title .paragraph-title { border-top: 1px solid #383838; margin: 0 26em; color: lightgray; padding-top: 4em; } }
