.burger { z-index: 1; position: fixed; top: 3%; right: 5%; width: 50px; height: 40px; color: #fff; font-size: 26px; background-color: #000; }

.burger i { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.burger.active + aside { display: block; width: 100%; }

aside { z-index: 1; display: none; position: fixed; top: 80px; left: 0; right: 0; background-color: #333333; }

aside nav ul { list-style: none; }

aside nav li { line-height: 2.2em; }

aside nav li:nth-child(1), aside nav li:nth-child(2), aside nav li:nth-child(3) { border-bottom: 1px solid gray; }

aside nav li:nth-child(1) a { padding: 13px 37.7em 13px 10px; }

aside nav li:nth-child(2) a { padding: 13px 19.4em 13px 10px; }

aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 36.3em 13px 10px; }

aside nav a { font-size: 13px; color: #fff; text-align: center; text-decoration: none; text-transform: uppercase; font-family: 'Alegreya Sans SC', sans-serif; }

.nav-block.active { top: 0; background-color: #fff; }

@media (orientation: landscape) and (min-width: 533px) { aside nav li { background-color: #333333; }
  aside nav li:nth-child(1) a { padding: 13px 37.7em 13px 10px; }
  aside nav li:nth-child(2) a { padding: 13px 35.9em 13px 10px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 37em 13px 10px; } }

@media (orientation: portrait) and (min-width: 360px) { aside { top: 80px; left: 0; }
  aside nav li:nth-child(1) a { padding: 13px 29.7em 13px 10px; }
  aside nav li:nth-child(2) a { padding: 13px 22.5em 13px 10px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 37em 13px 10px; } }

@media (orientation: landscape) and (min-width: 640px) { aside nav li:nth-child(1) a { padding: 13px 45.9em 13px 10px; }
  aside nav li:nth-child(2) a { padding: 13px 44.1em 13px 10px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 44.6em 13px 10px; } }

@media (orientation: portrait) and (min-width: 411px) and (min-height: 731px) { aside nav li:nth-child(1) a { padding: 13px 28.3em 13px 10px; }
  aside nav li:nth-child(2) a { padding: 13px 26.5em 13px 10px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 44.6em 13px 10px; } }

@media (orientation: landscape) and (min-width: 731px) { aside nav li:nth-child(1) a { padding: 13px 52.9em 13px 10px; }
  aside nav li:nth-child(2) a { padding: 13px 51.1em 13px 10px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 51.5em 13px 10px; } }

@media (orientation: landscape) and (min-width: 823px) { aside nav li:nth-child(1) a { padding: 13px 60.3em 13px 10px; }
  aside nav li:nth-child(2) a { padding: 13px 58.2em 13px 10px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 58.7em 13px 10px; } }

@media (orientation: portrait) and (min-width: 768px) { .burger { top: 1.5%; width: 60px; height: 50px; font-size: 36px; }
  aside { top: 80px; }
  aside nav li { padding: 13px 0 13px 0; }
  aside nav li:nth-child(1) a { padding: 20px 36.9em 20px 20px; }
  aside nav li:nth-child(2) a { padding: 20px 28.2em 20px 20px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 20px 28.7em 20px 20px; }
  aside nav a { width: 100%; font-size: 23px; color: #fff; text-align: center; text-decoration: none; text-transform: uppercase; font-family: 'Alegreya Sans SC', sans-serif; } }

@media (orientation: landscape) and (min-width: 812px) { aside nav li:nth-child(1) a { padding: 13px 59.2em 13px 10px; }
  aside nav li:nth-child(2) a { padding: 13px 57.3em 13px 10px; }
  aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 13px 58.7em 13px 10px; } }

@media (orientation: landscape) and (min-width: 1024px) { .nav-block { z-index: 1; position: fixed; left: 0; height: 67px; width: 100%; box-shadow: 0 0 65px 5px grey; top: -95px; transition: .7s; }
  .burger { display: none; }
  .burger.active { display: none; }
  aside { display: inline-block; top: 0; background-color: transparent; }
  aside nav ul { position: absolute; top: 4.5%; right: 22%; }
  aside nav li { float: left; border: none; background-color: transparent; padding: 0 25px; }
  aside nav li:nth-child(1), aside nav li:nth-child(2), aside nav li:nth-child(3) { border: none; }
  aside nav li:nth-child(1) a, aside nav li:nth-child(2) a, aside nav li:nth-child(3) a, aside nav li:nth-child(4) a { padding: 0; line-height: 64px; font-weight: bold; }
  aside nav a { font-size: 14px; color: #fff; }
  aside nav a:hover { color: #d4dad8; }
  .active .nav-link { color: gray; }
  .active .nav-link:hover { color: black; } }

* { margin: 0; padding: 0; scroll-behavior: smooth; }

.clearfix::after { content: ""; display: block; clear: both; }

body header { position: relative; height: 100vh; background-image: url(../images/photo1.png); background-attachment: fixed; background-repeat: no-repeat; background-position: center; background-size: cover; }

body header .welcome { position: absolute; top: 50%; left: 0; width: 100%; text-align: left; text-transform: uppercase; font-size: 20px; color: #fff; font-family: 'Open Sans', sans-serif; }

body header .welcome .text { display: inline-block; padding-left: 1.3em; }

body header .welcome p { text-shadow: 2px 2px 2px black; position: absolute; top: 35px; left: 3%; font-size: 10px; letter-spacing: 2px; margin: auto 5%; }

body header .welcome .cursor { opacity: 0; transition: .2s; color: #ccc; }

body header .welcome .cursor.active { opacity: 1; }

body header .mouse { position: absolute; bottom: 2%; left: 50%; width: 30px; height: 48px; border: 2px solid #fff; border-radius: 40%; transform: translateX(-50%); }

body header .mouse .scroll { position: relative; width: 5px; height: 10px; top: 15%; left: 50%; transform: translateX(-50%); background-color: #fff; border-radius: 30%; animation: move-scroll 1.5s linear infinite; }

@keyframes move-scroll { 50% { top: 30%; }
  100% { top: 15%; } }

@media (orientation: landscape) and (min-width: 533px) { body .wrap header .welcome { font-size: 25px; }
  body .wrap header p { top: 40px; margin-left: 1.8em; }
  body .wrap header .mouse { width: 20px; height: 32px; }
  body .wrap header .mouse .scroll { width: 3px; height: 8px; } }

@media (orientation: portrait) and (min-width: 360px) { body .wrap header { background-size: cover; background-position: center; }
  body .wrap header .welcome { font-size: 22px; }
  body .wrap header p { margin-left: 2em; } }

@media (orientation: landscape) and (min-width: 640px) { body .wrap header { background-size: cover; background-position: center; }
  body .wrap header .welcome { font-size: 29px; }
  body .wrap header p { margin-left: 2em; } }

@media (orientation: portrait) and (min-width: 411px) { .wrap .welcome { font-size: 23px; }
  .wrap .mouse { width: 35px; height: 55px; }
  .wrap .mouse .scroll { width: 5px; height: 10px; } }

@media (orientation: landscape) and (min-width: 731px) { .wrap header .welcome { font-size: 29px; }
  .wrap .mouse { width: 35px; height: 55px; }
  .wrap .mouse .scroll { width: 5px; height: 10px; } }

@media (orientation: portrait) and (min-width: 768px) { body .wrap header .welcome { font-size: 36px; margin-top: -114px; }
  body .wrap header .welcome .text { margin-left: .2em; }
  body .wrap header .welcome p { margin-top: 23px; font-size: 17px; }
  body .wrap .mouse { width: 45px; height: 65px; }
  body .wrap .mouse .scroll { width: 6px; height: 13px; } }

@media (orientation: landscape) and (min-width: 1024px) and (min-height: 768px) { body .wrap header .welcome { font-size: 62px; top: 55%; left: 0; text-align: left; }
  body .wrap header .welcome .text { margin-left: -.2em; }
  body .wrap header .welcome p { font-size: 14px; margin: 49px 0 49px 3em; }
  body .wrap header .mouse { width: 35px; height: 55px; }
  body .wrap header .mouse .scroll { width: 5px; height: 10px; } }

.about-me { position: absolute; height: 100%; width: 100%; font-family: 'Montserrat', sans-serif; }

.about-me h1 { text-align: center; font-family: 'Alegreya Sans', sans-serif; text-transform: uppercase; margin-top: 16%; }

.about-me .description { color: grey; }

.about-me .tech-left-1 { position: absolute; top: 23%; left: 4%; width: 37%; height: 38%; box-shadow: 1px 1px 15px 1px lightgray; padding: 1%; }

.about-me .tech-left-1 h6 { font-family: 'Roboto Condensed', sans-serif; font-size: 18px; }

.about-me .tech-left-1 .description { font-size: 11px; }

.about-me .tech-left-2 { position: absolute; top: 101%; left: 4%; width: 37%; height: 38%; box-shadow: 1px 1px 15px 1px lightgray; padding: 1%; }

.about-me .tech-left-2 h6 { font-family: 'Roboto Condensed', sans-serif; font-size: 18px; }

.about-me .tech-left-2 .description { font-size: 11px; }

.about-me .tech-right-1 { position: absolute; top: 62%; left: 57%; width: 37%; height: 38%; box-shadow: 1px 1px 15px 1px lightgray; padding: 1%; }

.about-me .tech-right-1 h6 { font-family: 'Roboto Condensed', sans-serif; font-size: 18px; }

.about-me .tech-right-1 .description { font-size: 11px; }

.about-me .point-line { position: absolute; top: 23%; left: 50%; transform: translateX(-50%); width: .5%; height: 117.4%; background-color: #000; }

.about-me .pointer-1 { position: absolute; top: 40%; left: 42.8%; transform: translateX(42.8%); border-radius: 50%; width: 25px; height: 25px; background-color: orangered; }

.about-me .pointer-2 { position: absolute; top: 79%; left: 42.8%; transform: translateX(42.8%); width: 25px; height: 25px; border-radius: 50%; background-color: orangered; }

.about-me .pointer-3 { position: absolute; top: 118%; left: 42.8%; transform: translateX(42.8%); width: 25px; height: 25px; border-radius: 50%; background-color: orangered; }

@media (orientation: landscape) and (min-width: 533px) { .about-me h1 { position: absolute; bottom: 80%; left: 50%; transform: translateX(-50%); }
  .about-me .tech-left-1 { top: 32%; left: 2.5%; width: 42%; height: 46%; }
  .about-me .tech-left-1 h6 { font-size: 20px; }
  .about-me .tech-left-1 .description { font-size: 11px; }
  .about-me .tech-left-2 { top: 130%; left: 2.5%; width: 42%; height: 46%; }
  .about-me .tech-left-2 h6 { font-size: 20px; }
  .about-me .tech-left-2 .description { font-size: 11px; }
  .about-me .tech-right-1 { top: 80.2%; left: 53.6%; width: 42%; height: 46%; }
  .about-me .tech-right-1 h6 { font-size: 20px; }
  .about-me .tech-right-1 .description { font-size: 11px; }
  .about-me .point-line { top: 32.2%; left: 50%; transform: translateX(-50%); width: .2%; height: 147.8%; background-color: #000; }
  .about-me .pointer-1 { top: 52.5%; left: 50%; transform: translateX(-50%); width: 20px; height: 20px; }
  .about-me .pointer-2 { top: 98.5%; left: 50%; transform: translateX(-50%); width: 20px; height: 20px; }
  .about-me .pointer-3 { top: 152%; left: 50%; transform: translateX(-50%); width: 20px; height: 20px; } }

@media (orientation: portrait) and (min-width: 411px) { .about-me .tech-left-1 h6 { font-size: 22px; }
  .about-me .tech-left-1 .description { font-size: 13px; }
  .about-me .tech-left-2 h6 { font-size: 22px; }
  .about-me .tech-left-2 .description { font-size: 13px; }
  .about-me .tech-right-1 h6 { font-size: 22px; }
  .about-me .tech-right-1 .description { font-size: 13px; } }

@media (orientation: landscape) and (min-width: 731px) { .about-me h1 { font-size: 25px; }
  .about-me .tech-left-1 h6 { font-size: 25px; }
  .about-me .tech-left-1 .description { font-size: 14px; }
  .about-me .tech-left-2 h6 { font-size: 25px; }
  .about-me .tech-left-2 .description { font-size: 14px; }
  .about-me .tech-right-1 h6 { font-size: 25px; }
  .about-me .tech-right-1 .description { font-size: 14px; } }

@media (orientation: portrait) and (min-width: 360px) { .about-me .pointer-1 { top: 40.5%; left: 50%; transform: translateX(-50%); }
  .about-me .pointer-2 { top: 78.8%; left: 50%; transform: translateX(-50%); }
  .about-me .pointer-3 { top: 118%; left: 50%; transform: translateX(-50%); } }

@media (orientation: portrait) and (min-width: 373px) { .about-me .tech-left-1 h6 { font-size: 22px; }
  .about-me .tech-left-1 .description { font-size: 13px; }
  .about-me .tech-left-2 h6 { font-size: 22px; }
  .about-me .tech-left-2 .description { font-size: 13px; }
  .about-me .tech-right-1 h6 { font-size: 22px; }
  .about-me .tech-right-1 .description { font-size: 13px; } }

@media (orientation: landscape) and (min-width: 667px) { .about-me .tech-left-1 h6 { font-size: 24px; }
  .about-me .tech-left-1 .description { font-size: 13px; }
  .about-me .tech-left-2 h6 { font-size: 24px; }
  .about-me .tech-left-2 .description { font-size: 13px; }
  .about-me .tech-right-1 h6 { font-size: 24px; }
  .about-me .tech-right-1 .description { font-size: 13px; } }

@media (orientation: portrait) and (min-width: 768px) { .about-me h1 { position: absolute; bottom: 87.5%; left: 50%; transform: translateX(-50%); font-size: 30px; }
  .about-me .tech-left-1 h6 { font-size: 28px; }
  .about-me .tech-left-1 .description { font-size: 18px; }
  .about-me .tech-left-2 h6 { font-size: 28px; }
  .about-me .tech-left-2 .description { font-size: 18px; }
  .about-me .tech-right-1 h6 { font-size: 28px; }
  .about-me .tech-right-1 .description { font-size: 18px; }
  .about-me .point-line { width: .6%; }
  .about-me .pointer-1 { width: 45px; height: 45px; }
  .about-me .pointer-2 { width: 45px; height: 45px; }
  .about-me .pointer-3 { width: 45px; height: 45px; } }

@media (orientation: landscape) and (min-width: 1024px) { .about-me h1 { position: absolute; bottom: 85%; left: 50%; transform: translateX(-50%); }
  .about-me .tech-left-1 { top: 27%; left: 22.5%; width: 22%; height: 21%; }
  .about-me .tech-left-1 h6 { font-size: 16px; }
  .about-me .tech-left-1 .description { font-size: 9.8px; }
  .about-me .tech-left-2 { top: 78%; left: 22.5%; width: 22%; height: 21%; }
  .about-me .tech-left-2 h6 { font-size: 18px; }
  .about-me .tech-left-2 .description { font-size: 9.8px; }
  .about-me .tech-right-1 { top: 52.2%; left: 53.4%; width: 22%; height: 21%; }
  .about-me .tech-right-1 h6 { font-size: 18px; }
  .about-me .tech-right-1 .description { font-size: 9.8px; }
  .about-me .point-line { top: 27%; left: 50%; transform: translateX(-50%); width: .2%; height: 76.4%; background-color: black; }
  .about-me .pointer-1 { top: 36.9%; left: 50%; transform: translateX(-50%); width: 30px; height: 30px; }
  .about-me .pointer-2 { top: 62.5%; left: 50%; transform: translateX(-50%); width: 30px; height: 30px; }
  .about-me .pointer-3 { top: 88.5%; left: 50%; transform: translateX(-50%); width: 30px; height: 30px; } }

.gallery { margin-top: 250%; max-width: 100%; }

.gallery h1 { margin-bottom: 15%; text-align: center; text-transform: uppercase; font-family: 'Alegreya Sans', sans-serif; }

.gallery .gal_item { position: relative; margin-left: 5%; top: 0; left: 0; padding-bottom: 3.5%; width: 45%; }

.gallery .gal_item .overlay { display: none; position: absolute; background-color: rgba(128, 128, 128, 0.5); height: 20.2em; width: 201%; }

.gallery .gal_item .overlay .icon { position: absolute; display: inline-block; top: 50%; width: 60px; height: 60px; line-height: 60px; text-align: center; background-color: rgba(0, 0, 0, 0.5); color: white; margin-top: -12px; border-radius: 20%; cursor: pointer; }

.gallery .gal_item .overlay .icon .fas { padding-top: 18px; font-size: 25px; }

.gallery .gal_item .overlay .icon-left { left: 15%; }

.gallery .gal_item .overlay .icon-right { right: 15%; }

.gallery .gal_item .img img { width: 200%; height: 20em; border: 2px solid silver; }

.gallery .gal_item:hover .overlay { display: block; }

.wrap.blur { position: absolute; filter: blur(2px); height: 100%; }

.modal-bg { display: none; }

.modal-bg.active { position: fixed; display: block; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); }

.modal-bg.active .modal { position: absolute; top: 40%; left: 10%; width: 15%; height: 15%; transform: translate(-50%, -70%); }

.modal-bg.active .modal .top { position: relative; top: 8.5%; right: -10%; }

.modal-bg.active .modal .top i.fa-times { position: absolute; top: 0; left: 560%; line-height: 24px; color: #e55039; font-size: 35px; cursor: pointer; }

.modal-bg.active .modal .top i.fa-times:hover { color: #eb2f06; }

.modal-bg.active .modal .middle img { width: 19em; height: 14.8em; }

@media (orientation: landscape) and (min-width: 533px) and (min-height: 320px) { .gallery { margin-top: 116%; }
  .gallery h1 { margin-bottom: 8%; }
  .modal-bg { display: none; }
  .modal-bg.active { position: fixed; display: block; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); }
  .modal-bg.active .modal { position: absolute; top: 30%; left: 10%; width: 15%; height: 15%; transform: translate(-50%, -70%); }
  .modal-bg.active .modal .top { position: relative; top: 8.5%; right: -10%; }
  .modal-bg.active .modal .top i.fa-times { position: absolute; top: 0; left: 584%; line-height: 24px; font-size: 35px; cursor: pointer; }
  .modal-bg.active .modal .middle img { width: 31.7em; height: 15.2em; } }

@media (orientation: portrait) and (min-width: 360px) and (min-height: 640px) { .gallery { margin-top: 267%; }
  .gallery h1 { margin-bottom: 14%; }
  .modal-bg { display: none; }
  .modal-bg.active { position: fixed; display: block; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); }
  .modal-bg.active .modal { position: absolute; top: 30%; left: 10%; width: 15%; height: 15%; transform: translate(-50%, -70%); }
  .modal-bg.active .modal .top { position: relative; top: 8.5%; right: -10%; }
  .modal-bg.active .modal .top i.fa-times { position: absolute; top: 0; left: 566%; line-height: 24px; font-size: 35px; cursor: pointer; }
  .modal-bg.active .modal .middle img { width: 21.4em; height: 15.2em; } }

@media (orientation: landscape) and (min-width: 640px) and (min-height: 360px) { .gallery { margin-top: 109%; }
  .gallery h1 { margin-bottom: 7%; }
  .modal-bg { display: none; }
  .modal-bg.active { position: fixed; display: block; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); }
  .modal-bg.active .modal { position: absolute; top: 28%; left: 10%; width: 15%; height: 15%; transform: translate(-50%, -70%); }
  .modal-bg.active .modal .top { position: relative; top: 8.5%; right: -10%; }
  .modal-bg.active .modal .top i.fa-times { position: absolute; top: 0; left: 592%; line-height: 24px; font-size: 35px; cursor: pointer; }
  .modal-bg.active .modal .middle img { width: 38em; height: 17.5em; } }

@media (orientation: portrait) and (min-width: 411px) and (min-height: 731px) { .gallery { margin-top: 267%; }
  .gallery h1 { margin-bottom: 16%; }
  .modal-bg { display: none; }
  .modal-bg.active { position: fixed; display: block; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); }
  .modal-bg.active .modal { position: absolute; top: 30%; left: 10%; width: 15%; height: 15%; transform: translate(-50%, -70%); }
  .modal-bg.active .modal .top { position: relative; top: 8.5%; right: -10%; }
  .modal-bg.active .modal .top i.fa-times { position: absolute; top: 0; left: 570%; line-height: 24px; font-size: 35px; cursor: pointer; }
  .modal-bg.active .modal .middle img { width: 24.4em; height: 15.2em; } }

@media (orientation: landscape) and (min-width: 731px) and (min-height: 411px) { .modal-bg { display: none; }
  .modal-bg.active { position: fixed; display: block; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); }
  .modal-bg.active .modal { position: absolute; top: 26%; left: 10%; width: 15%; height: 15%; transform: translate(-50%, -70%); }
  .modal-bg.active .modal .top { position: relative; top: 8.5%; right: -10%; }
  .modal-bg.active .modal .top i.fa-times { position: absolute; top: 0; left: 588%; line-height: 34px; font-size: 45px; cursor: pointer; }
  .modal-bg.active .modal .middle img { width: 43.4em; height: 20.6em; } }

@media (orientation: portrait) and (min-width: 411px) and (min-height: 823px) { .gallery { margin-top: 299%; }
  .gallery h1 { margin-bottom: 18%; } }

@media (orientation: landscape) and (min-width: 823px) and (min-height: 411px) { .gallery { margin-top: 96%; }
  .gallery h1 { margin-bottom: 6%; } }

@media (orientation: portrait) and (min-width: 375px) and (min-height: 812px) { .gallery { margin-top: 326%; }
  .gallery h1 { margin-bottom: 22%; } }

@media (orientation: landscape) and (min-width: 812px) and (min-height: 375px) { .gallery { margin-top: 90%; }
  .gallery h1 { margin-bottom: 6%; }
  .modal-bg { display: none; }
  .modal-bg.active { position: fixed; display: block; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); }
  .modal-bg.active .modal { position: absolute; top: 26%; left: 10%; width: 15%; height: 15%; transform: translate(-50%, -70%); }
  .modal-bg.active .modal .top { position: relative; top: 8.5%; right: -10%; }
  .modal-bg.active .modal .top i.fa-times { position: absolute; top: 0; left: 592%; line-height: 34px; font-size: 45px; cursor: pointer; }
  .modal-bg.active .modal .middle img { width: 48.2em; height: 19.1em; } }

@media (orientation: portrait) and (max-width: 1025px) and (min-height: 768px) { .gallery { margin-top: 202%; }
  .gallery h1 { margin-bottom: 14%; font-size: 30px; }
  .gallery .gal_item .overlay .icon { width: 80px; height: 80px; margin-top: -30px; }
  .gallery .gal_item .overlay .icon .fas { font-size: 35px; line-height: 40px; }
  .modal-bg { display: none; }
  .modal-bg.active { position: fixed; display: block; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); }
  .modal-bg.active .modal { position: absolute; top: 32%; left: 10%; width: 15%; height: 15%; transform: translate(-50%, -70%); }
  .modal-bg.active .modal .top { position: relative; top: 8.5%; right: -10%; }
  .modal-bg.active .modal .top i.fa-times { position: absolute; top: 0; left: 588%; line-height: 24px; font-size: 45px; cursor: pointer; }
  .modal-bg.active .modal .middle img { width: 45.5em; height: 28em; } }

@media (orientation: landscape) and (max-width: 1025px) and (min-height: 768px) { .gallery { margin-top: 86%; }
  .gallery h1 { margin-bottom: 9%; font-size: 26px; }
  .gallery .gal_item .overlay .icon { width: 80px; height: 80px; margin-top: -30px; }
  .gallery .gal_item .overlay .icon .fas { font-size: 35px; line-height: 40px; }
  .modal-bg { display: none; }
  .modal-bg.active { position: fixed; display: block; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); }
  .modal-bg.active .modal { position: absolute; top: 40%; left: 10%; width: 15%; height: 15%; transform: translate(-50%, -70%); }
  .modal-bg.active .modal .top { position: relative; top: 8.5%; right: -10%; }
  .modal-bg.active .modal .top i.fa-times { position: absolute; top: 0; left: 560%; line-height: 24px; font-size: 35px; cursor: pointer; }
  .modal-bg.active .modal .middle img { width: 19em; height: 16.8em; } }

@media (orientation: landscape) and (min-width: 1024px) { .gallery { margin-top: 57%; max-width: 100%; }
  .gallery h1 { margin-bottom: 5.5%; }
  .gallery .gal_item { margin-left: 12%; top: 0; left: 4.5%; float: left; width: 11%; }
  .gallery .gal_item .overlay { display: none; position: absolute; background-color: rgba(128, 128, 128, 0.5); }
  .gallery .gal_item .overlay .icon { top: 45%; }
  .modal-bg.active .modal { top: 70%; left: 50%; width: 80%; height: 80%; }
  .modal-bg.active .modal .top { position: absolute; top: 2.5%; right: 3%; }
  .modal-bg.active .modal .top i.fa-times { font-size: 55px; line-height: 22px; }
  .modal-bg.active .modal .middle img { width: 95.2em; height: 46.8em; } }

@media (orientation: landscape) and (max-width: 1366px) and (min-height: 768px) { .gallery { margin-top: 65%; }
  .modal-bg.active .modal { top: 70%; left: 45%; width: 80%; height: 80%; }
  .modal-bg.active .modal .top { position: absolute; top: 2.5%; right: 3%; }
  .modal-bg.active .modal .top i.fa-times { position: absolute; font-size: 55px; padding-left: 117px; }
  .modal-bg.active .modal .middle img { width: 76.6em; height: 38.8em; } }
