.about-me {
	position: absolute;
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', sans-serif;

	h1 {
		text-align: center;
		font-family: 'Alegreya Sans', sans-serif;
		text-transform: uppercase;
		margin-top: 16%;
	}

	.description {
		color: grey;
	}

	.tech-left-1 {
		position: absolute;
		top: 23%;
		left: 4%;
		width: 37%;
		height: 38%;
		box-shadow: 1px 1px 15px 1px lightgray;
		padding: 1%;

		h6 {
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 18px;
		}

		.description {
			font-size: 11px;
		}
	}

	.tech-left-2 {
		position: absolute;
		top: 101%;
		left: 4%;
		width: 37%;
		height: 38%;
		box-shadow: 1px 1px 15px 1px lightgray;
		padding: 1%;

		h6 {
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 18px;
		}

		.description {
			font-size: 11px;
		}
	}

	.tech-right-1 {
		position: absolute;
		top: 62%;
		left: 57%;
		width: 37%;
		height: 38%;
		box-shadow: 1px 1px 15px 1px lightgray;
		padding: 1%;

		h6 {
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 18px;
		}

		.description {
			font-size: 11px;
		}
	}

	.point-line {
		position: absolute;
		top: 23%;
		left: 50%;
		transform: translateX(-50%);
		width: .5%;
		height: 117.4%;
		background-color: #000;
	}

	.pointer-1 {
		position: absolute;
		top: 40%;
		left: 42.8%;
		transform: translateX(42.8%);
		border-radius: 50%;
		width: 25px;
		height: 25px;
		background-color: orangered;
	}

	.pointer-2 {
		position: absolute;
		top: 79%;
		left: 42.8%;
		transform: translateX(42.8%);
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: orangered;
	}

	.pointer-3 {
		position: absolute;
		top: 118%;
		left: 42.8%;
		transform: translateX(42.8%);
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: orangered;
	}
}

// Nokia Lumia: landscape
@media(orientation: landscape) AND (min-width: 533px) {
	.about-me {

		h1 {
			position: absolute;
			bottom: 80%;
			left: 50%;
			transform: translateX(-50%);
		}

		.tech-left-1 {
			top: 32%;
			left: 2.5%;
			width: 42%;
			height: 46%;

			h6 {
				font-size: 20px;
			}

			.description {
				font-size: 11px;
			}
		}

		.tech-left-2 {
			top: 130%;
			left: 2.5%;
			width: 42%;
			height: 46%;

			h6 {
				font-size: 20px;
			}

			.description {
				font-size: 11px;
			}
		}

		.tech-right-1 {
			top: 80.2%;
			left: 53.6%;
			width: 42%;
			height: 46%;

			h6 {
				font-size: 20px;
			}

			.description {
				font-size: 11px;
			}
		}

		.point-line {
			top: 32.2%;
			left: 50%;
			transform: translateX(-50%);
			width: .2%;
			height: 147.8%;
			background-color: #000;
		}

		.pointer-1 {
			top: 52.5%;
			left: 50%;
			transform: translateX(-50%);
			width: 20px;
			height: 20px;
		}

		.pointer-2 {
			top: 98.5%;
			left: 50%;
			transform: translateX(-50%);
			width: 20px;
			height: 20px;
		}

		.pointer-3 {
			top: 152%;
			left: 50%;
			transform: translateX(-50%);
			width: 20px;
			height: 20px;
		}
	}
}

// Pixel 2: portrait
@media(orientation: portrait) AND (min-width: 411px) {
	.about-me {
		.tech-left-1 {

			h6 {
				font-size: 22px;
			}

			.description {
				font-size: 13px;
			}
		}

		.tech-left-2 {

			h6 {
				font-size: 22px;
			}

			.description {
				font-size: 13px;
			}
		}

		.tech-right-1 {

			h6 {
				font-size: 22px;
			}

			.description {
				font-size: 13px;
			}
		}
	}
}

@media(orientation: landscape) AND (min-width: 731px) {
	.about-me {
		h1 {
			font-size: 25px;
		}

		.tech-left-1 {

			h6 {
				font-size: 25px;
			}

			.description {
				font-size: 14px;
			}
		}

		.tech-left-2 {

			h6 {
				font-size: 25px;
			}

			.description {
				font-size: 14px;
			}
		}

		.tech-right-1 {

			h6 {
				font-size: 25px;
			}

			.description {
				font-size: 14px;
			}
		}
	}
}

// Galaxy S5: portrait
@media(orientation: portrait) AND (min-width: 360px) {
	.about-me {
		.pointer-1 {
			top: 40.5%;
			left: 50%;
			transform: translateX(-50%);
		}

		.pointer-2 {
			top: 78.8%;
			left: 50%;
			transform: translateX(-50%);
		}

		.pointer-3 {
			top: 118%;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

// Iphone 6/7/8: portrait
@media(orientation: portrait) AND (min-width: 373px) {
	.about-me {
		.tech-left-1 {

			h6 {
				font-size: 22px;
			}

			.description {
				font-size: 13px;
			}
		}

		.tech-left-2 {

			h6 {
				font-size: 22px;
			}

			.description {
				font-size: 13px;
			}
		}

		.tech-right-1 {

			h6 {
				font-size: 22px;
			}

			.description {
				font-size: 13px;
			}
		}
	}
}

@media(orientation: landscape) AND (min-width: 667px) {
	.about-me {
		.tech-left-1 {

			h6 {
				font-size: 24px;
			}

			.description {
				font-size: 13px;
			}
		}

		.tech-left-2 {

			h6 {
				font-size: 24px;
			}

			.description {
				font-size: 13px;
			}
		}

		.tech-right-1 {

			h6 {
				font-size: 24px;
			}

			.description {
				font-size: 13px;
			}
		}
	}
}

// Ipad: portrait
@media(orientation: portrait) AND (min-width: 768px) {
	.about-me {
		h1 {
			position: absolute;
			bottom: 87.5%;
			left: 50%;
			transform: translateX(-50%);
			font-size: 30px;
		}

		.tech-left-1 {

			h6 {
				font-size: 28px;
			}

			.description {
				font-size: 18px;
			}
		}

		.tech-left-2 {

			h6 {
				font-size: 28px;
			}

			.description {
				font-size: 18px;
			}
		}

		.tech-right-1 {

			h6 {
				font-size: 28px;
			}

			.description {
				font-size: 18px;
			}
		}

		.point-line {
			width: .6%;
		}

		.pointer-1 {
			width: 45px;
			height: 45px;
		}

		.pointer-2 {
			width: 45px;
			height: 45px;
		}

		.pointer-3 {
			width: 45px;
			height: 45px;
		}
	}
}

// desktop: landscape
@media(orientation: landscape) AND (min-width: 1024px) {
	.about-me {

		h1 {
			position: absolute;
			bottom: 85%;
			left: 50%;
			transform: translateX(-50%);
		}

		.tech-left-1 {
			top: 27%;
			left: 22.5%;
			width: 22%;
			height: 21%;

			h6 {
				font-size: 16px;
			}

			.description {
				font-size: 9.7px;
			}
		}

		.tech-left-2 {
			top: 78%;
			left: 22.5%;
			width: 22%;
			height: 21%;

			h6 {
				font-size: 18px;
			}

			.description {
				font-size: 9.7px;
			}
		}

		.tech-right-1 {
			top: 52.2%;
			left: 53.4%;
			width: 22%;
			height: 21%;

			h6 {
				font-size: 18px;
			}

			.description {
				font-size: 9.7px;
			}
		}

		.point-line {
			top: 27%;
			left: 50%;
			transform: translateX(-50%);
			width: .2%;
			height: 76.4%;
			background-color: black;
		}

		.pointer-1 {
			top: 36.9%;
			left: 50%;
			transform: translateX(-50%);
			width: 30px;
			height: 30px;
		}

		.pointer-2 {
			top: 62.5%;
			left: 50%;
			transform: translateX(-50%);
			width: 30px;
			height: 30px;
		}

		.pointer-3 {
			top: 88.5%;
			left: 50%;
			transform: translateX(-50%);
			width: 30px;
			height: 30px;
		}
	}
}