.contact {
  margin-bottom: 5em;
  margin-top: 3em;
  position: relative;

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
		text-align: center;

    span {
			background: -webkit-linear-gradient(#eee, #333);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
    }
  }

  .title-line3 {
    border-bottom: 2px solid gray;
    display: inline-block;
    position: absolute;
    top: 3.5em;
    left: 43%;
    width: 3em;
  }
}

.footer {
  background-color: #222222;
  text-align: center;
  padding-top: 1.5em;
  color: #fff;

  .col-3 {
    float: left;
    width: 100%;
    cursor: default;

    .fab, .fas {
      font-size: 22px;
    }

    h3 {
      display: inline-block;
      padding-bottom: 2px;
      padding-top: 1em;
    }

    a {
      color: #fff;

      &:hover {
        text-decoration: none;
      }
      
      p { 
        .social-title {
          font-size: 14px;
        }
      }
    }
  }

  .footer-title {
    float: left;
    width: 100%;
    margin-top: 2em;
    
    .paragraph-title {
      border-top: 1px solid rgb(56, 56, 56);
      margin: 0 1em;
      color: lightgray;
      padding-top: 4em;
      padding-bottom: 4em;
    }
  }
}

 // Nokia Lumia: landscape
@media(orientation: landscape) AND (min-width: 533px) {
	.contact {
    margin-bottom: 5em;
    margin-top: 3em;
    position: relative;
  
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      text-align: center;
  
      span {
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  
    .title-line3 {
      border-bottom: 2px solid gray;
      display: inline-block;
      position: absolute;
      top: 3.5em;
      left: 45%;
      width: 3em;
    }
  }
  
  .footer {
    background-color: #222222;
    text-align: center;
    padding-top: 1.5em;
    color: #fff;
  
    .col-3 {
      float: left;
      width: 100%;
      cursor: default;
  
      .fab, .fas {
        font-size: 22px;
      }
  
      h3 {
        display: inline-block;
        padding-bottom: 2px;
        padding-top: 1em;
      }
  
      a {
        color: #fff;
        p {
          &:hover {
            transform: scale(1.1, 1.1);
          }
          .social-title {
            font-size: 14px;
          }
        }
      }
    }
  
    .footer-title {
      float: left;
      width: 100%;
      margin-top: 2em;
      
      .paragraph-title {
        border-top: 1px solid rgb(56, 56, 56);
        margin: 0 1em;
        color: lightgray;
        padding-top: 4em;
        padding-bottom: 4em;
      }
    }
  }
}

// Galaxy S5: landscape
@media(orientation: landscape) AND (min-width: 640px) {
	.contact {
    margin-bottom: 5em;
    margin-top: 3em;
    position: relative;
  
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      text-align: center;
  
      span {
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  
    .title-line3 {
      border-bottom: 2px solid gray;
      display: inline-block;
      position: absolute;
      top: 3.5em;
      left: 45%;
      width: 3em;
    }
  }
  
  .footer {
    background-color: #222222;
    text-align: center;
    padding-top: 1.5em;
    color: #fff;
  
    .col-3 {
      float: left;
      width: 50%;
      cursor: default;
  
      .fab, .fas {
        font-size: 22px;
      }
  
      h3 {
        display: inline-block;
        padding-bottom: 2px;
        padding-top: 1em;
      }
  
      a {
        color: #fff;
        p {
          &:hover {
            transform: scale(1.1, 1.1);
          }
          .social-title {
            font-size: 14px;
          }
        }
      }
    }
  
    .footer-title {
      float: left;
      width: 100%;
      margin-top: 2em;
      
      .paragraph-title {
        border-top: 1px solid rgb(56, 56, 56);
        margin: 0 4em;
        color: lightgray;
        padding-top: 4em;
        padding-bottom: 4em;
      }
    }
  }
}

@media(orientation: landscape) AND (min-width: 731px) {
	.contact {
    margin-bottom: 5em;
    margin-top: 3em;
    position: relative;
  
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      text-align: center;
  
      span {
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  
    .title-line3 {
      border-bottom: 2px solid gray;
      display: inline-block;
      position: absolute;
      top: 3.5em;
      left: 46%;
      width: 3em;
    }
  }
  
  .footer {
    background-color: #222222;
    text-align: center;
    padding-top: 1.5em;
    color: #fff;
  
    .col-3 {
      float: left;
      width: 50%;
      cursor: default;
  
      .fab, .fas {
        font-size: 22px;
      }
  
      h3 {
        display: inline-block;
        padding-bottom: 2px;
        padding-top: 1em;
      }
  
      a {
        color: #fff;
        p {
          &:hover {
            transform: scale(1.1, 1.1);
          }
          .social-title {
            font-size: 14px;
          }
        }
      }
    }
  
    .footer-title {
      float: left;
      width: 100%;
      margin-top: 3em;
      
      .paragraph-title {
        border-top: 1px solid rgb(56, 56, 56);
        margin: 0 4em;
        color: lightgray;
        padding-top: 4em;
        padding-bottom: 4em;
      }
    }
  }
}

@media(orientation: landscape) AND (min-width: 812px) {
  .contact {
    margin-bottom: 5em;
    margin-top: 3em;
  
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      text-align: center;
  
      span {
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  
    .title-line3 {
      border-bottom: 2px solid gray;
      top: 3.5em;
      left: 47.5%;
      width: 3em;
    }
  }
  
  .footer {
    background-color: #222222;
    text-align: center;
    padding-top: 2.5em;
    color: #fff;
    position: relative;

    .row {
      position: absolute;
      top: 2.5em;
      left: 8%;
      width: 85%;
    
    .col-3 {
      float: left;
      width: 25%;
  
      .fab, .fas {
        font-size: 22px;
      }
  
      h3 {
        display: inline-block;
        padding-bottom: 10px;
      }

      p {
        font-size: 11px;

        .social-title {
          font-size: 14px;
        }
      }
    }
  }

    .footer-title {
      float: left;
      width: 100%;
      margin-top: 6em;
      
      .paragraph-title {
        border-top: 1px solid rgb(56, 56, 56);
        margin: 0 4.5em;
        color: lightgray;
        padding-top: 4em;
      }
    }
  }
}

// Ipad: portrait
@media(orientation: portrait) AND (min-width: 768px) {
	.contact {
    margin-bottom: 5em;
    margin-top: 3em;
  
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      text-align: center;
  
      span {
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  
    .title-line3 {
      border-bottom: 2px solid gray;
      top: 3.5em;
      left: 47.5%;
      width: 3em;
    }
  }
  
  .footer {
    background-color: #222222;
    text-align: center;
    padding-top: 2.5em;
    color: #fff;
    position: relative;

    .row {
      position: absolute;
      top: 2.5em;
      left: 8%;
      width: 85%;
    
    .col-3 {
      float: left;
      width: 25%;
  
      .fab, .fas {
        font-size: 22px;
      }
  
      h3 {
        display: inline-block;
        padding-bottom: 10px;
      }

      p {
        font-size: 10px;

        .social-title {
          font-size: 14px;
        }
      }
    }
  }

 
  
    .footer-title {
      float: left;
      width: 100%;
      margin-top: 6em;
      
      .paragraph-title {
        border-top: 1px solid rgb(56, 56, 56);
        margin: 0 4.5em;
        color: lightgray;
        padding-top: 4em;
      }
    }
  }
}

//Ipad: landscape
@media(orientation: landscape) AND (min-width: 1024px) {
  .contact {
    margin-bottom: 5em;
    margin-top: 3em;
  
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      text-align: center;
  
      span {
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  
    .title-line3 {
      border-bottom: 2px solid gray;
      top: 3.5em;
      left: 47.5%;
      width: 3em;
    }
  }
  
  .footer {
    background-color: #222222;
    text-align: center;
    padding-top: 2.5em;
    color: #fff;
    position: relative;

    .row {
      position: absolute;
      top: 2.5em;
      left: 8%;
      width: 85%;
    
    .col-3 {
      float: left;
      width: 25%;
  
      .fab, .fas {
        font-size: 22px;
      }
  
      h3 {
        display: inline-block;
        padding-bottom: 10px;
      }
  
      .social-title {
        font-size: 14px;
      }
    }
  }

 
  
    .footer-title {
      float: left;
      width: 100%;
      margin-top: 6em;
      
      .paragraph-title {
        border-top: 1px solid rgb(56, 56, 56);
        margin: 0 6em;
        color: lightgray;
        padding-top: 4em;
      }
    }
  }
}

// Ipad Pro: portrait
@media(orientation: portrait) AND (min-width: 1024px) AND (min-height: 1366px) {
	.contact {
    margin-bottom: 5em;
    margin-top: 3em;
  
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      text-align: center;
  
      span {
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  
    .title-line3 {
      border-bottom: 2px solid gray;
      top: 3.5em;
      left: 47.5%;
      width: 3em;
    }
  }
  
  .footer {
    background-color: #222222;
    text-align: center;
    padding-top: 2.5em;
    color: #fff;
    position: relative;

    .row {
      position: absolute;
      top: 2.5em;
      left: 8%;
      width: 85%;
    
    .col-3 {
      float: left;
      width: 25%;
  
      .fab, .fas {
        font-size: 22px;
      }
  
      h3 {
        display: inline-block;
        padding-bottom: 10px;
      }
  
      .social-title {
        font-size: 14px;
      }
    }
  }

 
  
    .footer-title {
      float: left;
      width: 100%;
      margin-top: 6em;
      
      .paragraph-title {
        border-top: 1px solid rgb(56, 56, 56);
        margin: 0 6em;
        color: lightgray;
        padding-top: 4em;
      }
    }
  }
}

@media(orientation: landscape) AND (min-width: 1366px) {
	.contact {
    margin-bottom: 5em;
    margin-top: 3em;
  
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      text-align: center;
  
      span {
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  
    .title-line3 {
      border-bottom: 2px solid gray;
      top: 3.5em;
      left: 48%;
      width: 3em;
    }
  }
  
  .footer {
    background-color: #222222;
    text-align: center;
    padding-top: 2.5em;
    color: #fff;
    position: relative;

    .row {
      position: absolute;
      top: 2.5em;
      left: 8%;
      width: 85%;
    
    .col-3 {
      float: left;
      width: 25%;
  
      .fab, .fas {
        font-size: 22px;
      }
  
      h3 {
        display: inline-block;
        padding-bottom: 10px;
      }

      p {
        font-size: 22px;
        .social-title {
          font-size: 12px;
        }
      }
    }
  }

 
  
    .footer-title {
      float: left;
      width: 100%;
      margin-top: 6em;
      
      .paragraph-title {
        border-top: 1px solid rgb(56, 56, 56);
        margin: 0 4.5em;
        color: lightgray;
        padding-top: 4em;
      }
    }
  }
}

@media(orientation: landscape) AND (min-width: 1366px) AND (min-height: 768px) {
	.contact {
    margin-bottom: 5em;
    margin-top: 3em;
  
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      text-align: center;
  
      span {
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  
    .title-line3 {
      border-bottom: 2px solid gray;
      top: 3.5em;
      left: 48%;
      width: 3em;
    }
  }
  
  .footer {
    background-color: #222222;
    text-align: center;
    padding-top: 2.5em;
    color: #fff;
    position: relative;

    .row {
      position: absolute;
      top: 2.5em;
      left: 8%;
      width: 85%;
    
    .col-3 {
      float: left;
      width: 25%;
  
      .fab, .fas {
        font-size: 22px;
      }
  
      h3 {
        display: inline-block;
        padding-bottom: 10px;
      }

        .social-title {
          font-size: 16px;
        }
    }
  }

    .footer-title {
      float: left;
      width: 100%;
      margin-top: 6em;
      
      .paragraph-title {
        border-top: 1px solid rgb(56, 56, 56);
        margin: 0 4.5em;
        color: lightgray;
        padding-top: 4em;
      }
    }
  }
}

@media (orientation: landscape) AND (min-width: 1600px) {
  .contact {
    margin-bottom: 5em;
    margin-top: 3em;
  
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      text-align: center;
  
      span {
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  
    .title-line3 {
      border-bottom: 2px solid gray;
      top: 3.5em;
      left: 48.5%;
      width: 3em;
    }
  }
  
  .footer {
    background-color: #222222;
    text-align: center;
    padding-top: 2.5em;
    color: #fff;
    position: relative;

    .row {
      position: absolute;
      top: 2.5em;
      left: 22.5%;
      width: 55%;
    
    .col-3 {
      float: left;
      width: 25%;
  
      .fab, .fas {
        font-size: 22px;
      }
  
      h3 {
        display: inline-block;
        padding-bottom: 10px;
      }
  
      .social-title {
        font-size: 14px;
      }
    }
  }

 
  
    .footer-title {
      float: left;
      width: 100%;
      margin-top: 6em;
      
      .paragraph-title {
        border-top: 1px solid rgb(56, 56, 56);
        margin: 0 26em;
        color: lightgray;
        padding-top: 4em;
      }
    }
  }
}
