* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  header {
    height: auto;
    padding: 40vh 0 49vh;
    background-image: url(../images/photo1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .welcome {
      width: 100%;
      text-align: left;
      text-transform: uppercase;
      font-size: 20px;
      color: #fff;
      font-family: "Open Sans", sans-serif;

      .text {
        display: inline-block;
        padding-left: 21px;
      }

      p {
        text-shadow: 2px 2px 2px black;
        padding-top: 10px;
        font-size: 10px;
        letter-spacing: 2px;
        margin: auto 1em;
      }

      .cursor {
        opacity: 0;
        transition: 0.2s;
        color: #ccc;
      }

      .cursor.active {
        opacity: 1;
      }
    }

    .mouse {
      position: absolute;
      bottom: 1em;
      left: 50%;
      width: 30px;
      height: 48px;
      border: 2px solid #fff;
      border-radius: 40%;
      transform: translateX(-50%);

      .scroll {
        position: relative;
        width: 5px;
        height: 10px;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        border-radius: 30%;
        animation: move-scroll 1.5s linear infinite;
      }
    }

    @keyframes move-scroll {
      50% {
        top: 30%;
      }

      100% {
        top: 15%;
      }
    }
  }
}

// Very small device screen
@media (max-width: 469px) {
  body {
    .wrap {
      .header {
        padding: 33vh 0 47.9vh;

        .welcome {
          font-size: 16px;

          .text {
            margin-left: 0;
          }

          p {
            margin: 0 0 135px 2.3em;
            font-size: 9px;
          }
        }
      }

      .mouse {
        width: 25px;
        height: 38px;

        .scroll {
          width: 2px;
          height: 7px;
        }
      }
    }
  }
}

// Small device screen - tablets
@media (min-width: 470px) AND (max-width: 991px) {
  body {
    .wrap {
      .header {
        padding: 33vh 0 47.9vh;

        .welcome {
          font-size: 30px;

          .text {
            margin-left: 2px;
          }

          p {
            margin: 0 0 125px 2.3em;
            font-size: 11px;
          }
        }
      }
    }
  }
}

// Medium device screen
@media (min-width: 992px) AND (max-width: 1199px) {
  body {
    .wrap {
      .header {
        padding: 33vh 0 47.9vh;

        .welcome {
          font-size: 35px;

          .text {
            margin-left: 12px;
          }

          p {
            margin: 0 0 112px 2.3em;
            font-size: 15px;
          }
        }
      }
    }
  }
}

// Desktop
@media (min-width: 1200px) {
  body {
    .wrap {
      .header {
        padding: 37vh 0 55vh;

        .welcome {
          font-size: 42px;

          .text {
            margin-left: 0.2em;
          }

          p {
            font-size: 18px;
            margin-left: 32px;
          }
        }
      }
    }
  }
}
