* {
 margin: 0;
 padding: 0;
 scroll-behavior: smooth;
 box-sizing: border-box;
}

.clearfix::after {
 content: "";
 display: block;
 clear: both;
}

body {

 header {
  position: relative;
  height: 100vh;
  background-image: url(../images/photo1.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .welcome {
   position: relative;
  //  line-height: 2em;
   top: 9em;
   left: 0;
  //  height: 100vh;
   width: 100%;
   text-align: left;
   text-transform: uppercase;
   font-size: 20px;
   color: #fff;
   font-family: 'Open Sans', sans-serif;

   .text {
    display: inline-block;
    padding-left: 1.3em;
   }

   p {
    text-shadow: 2px 2px 2px black;
    position: absolute;
    top: 35px;
    left: 1.6em;
    font-size: 10px;
    letter-spacing: 2px;
    margin: auto 1em;
   }

   .cursor {
    opacity: 0;
    transition: .2s;
    color: #ccc;
   }

   .cursor.active {
    opacity: 1;
   }
  }

  .mouse {
   position: absolute;
   bottom: 1em;
   left: 50%;
   width: 30px;
   height: 48px;
   border: 2px solid #fff;
   border-radius: 40%;
   transform: translateX(-50%);

   .scroll {
    position: relative;
    width: 5px;
    height: 10px;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 30%;
    animation: move-scroll 1.5s linear infinite;
   }
  }

  @keyframes move-scroll {
   50% {
    top: 30%;
   }

   100% {
    top: 15%;
   }
  }
 }
}

// // Nokia Lumia: landscape
// @media(orientation: landscape) AND (min-width: 533px) {
//  body {

//   .wrap {
//    header {

//     .welcome {
//      font-size: 25px;
//      top: 22em;
//     left: 0;
//     }

//     p {
//      top: 40px;
//      margin-left: 1.8em;
//     }

//     .mouse {
//      width: 20px;
//      height: 32px;

//      .scroll {
//       width: 3px;
//       height: 8px;
//      }
//     }
//    }
//   }
//  }
// }

// // Galaxy S5: portrait
// @media(orientation: portrait) AND (min-width: 360px) {
//  body {
//   .wrap {
//    header {

//     .welcome {
//      font-size: 22px;
//     }

//     p {
//      margin-left: 2em;
//     }
//    }
//   }
//  }
// }

// @media(orientation: landscape) AND (min-width: 640px) {
//  body {
//   .wrap {
//    header {

//     .welcome {
//      font-size: 29px;
//     }

//     p {
//      margin-left: 2em;
//     }
//    }
//   }
//  }
// }

// // Pixel 2: portrait
// @media(orientation: portrait) AND (min-width: 411px) {
//  .wrap {

//   .welcome {
//    font-size: 23px;
//   }

//   .mouse {
//    width: 35px;
//    height: 55px;

//    .scroll {
//     width: 5px;
//     height: 10px;
//    }
//   }
//  }
// }

// @media(orientation: landscape) AND (min-width: 731px) {
//  .wrap {
//   header {

//    .welcome {
//     font-size: 29px;
//    }
//   }

//   .mouse {
//    width: 35px;
//    height: 55px;

//    .scroll {
//     width: 5px;
//     height: 10px;
//    }
//   }
//  }
// }

// // Ipad: portrait
// @media(orientation: portrait) AND (min-width: 768px) {
//  body {
//   .wrap {
//    header {

//     .welcome {
//      font-size: 36px;
     

//      .text {
//       margin-left: .2em;
//      }

//      p {
//       margin-top: 23px;
//       font-size: 17px;
//      }
//     }
//    }

//    .mouse {
//     width: 45px;
//     height: 65px;


//     .scroll {
//      width: 6px;
//      height: 13px;
//     }
//    }
//   }
//  }
// }


// @media(orientation: landscape) AND (min-width: 1024px) AND (min-height: 768px) {
//  body {
//   .wrap {
//    header {

//     .welcome {
//      font-size: 62px;
//      top: 6em;
//      left: 0;
//      text-align: left;

//      .text {
//       margin-left: .2em;
//      }

//      p {
//       font-size: 14px;
//       margin: 49px 0 49px 5.2em;
//      }
//     }

//     .mouse {
//      width: 35px;
//      height: 55px;

//      .scroll {
//       width: 5px;
//       height: 10px;
//      }
//     }
//    }
//   }
//  }
// }