.burger {
 z-index: 1;
 position: fixed;
 top: 3%;
 right: 5%;
 width: 50px;
 height: 40px;
 color: #fff;
 font-size: 26px;
 background-color: #000;
 text-align: center;
 line-height: 50px;

 i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
}

.burger.active+aside {
 display: block;
 width: 100%;
}

aside {
 z-index: 1;
 display: none;
 position: fixed;
 top: 80px;
 bottom: 300px;
 left: 0;
 right: 0;
 background-color: #333333;

 nav {

  ul {
   list-style: none;
  }

  li {
   line-height: 2.2em;
  }

  li:nth-child(1),
  li:nth-child(2),
  li:nth-child(3) {
   border-bottom: 1px solid gray;
  }

  li:nth-child(1) a {
   padding: 13px 37.7em 13px 10px;
  }

  li:nth-child(2) a {
   padding: 13px 19.4em 13px 10px;
  }

  li:nth-child(3) a,
  li:nth-child(4) a {
   padding: 13px 36.3em 13px 10px;
  }

  a {
   font-size: 13px;
   color: #fff;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   font-family: 'Alegreya Sans SC', sans-serif;
  }
 }
}

//Nokia Lumia: landscape
@media(orientation: landscape) AND (min-width: 533px) {
 aside {

  nav {

   li {
    background-color: #333333;
   }

   li:nth-child(1) a {
    padding: 13px 37.7em 13px 10px;
   }

   li:nth-child(2) a {
    padding: 13px 35.9em 13px 10px;
   }

   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 13px 37em 13px 10px;
   }
  }
 }
}

// Galaxy S5: portrait
@media(orientation: portrait) AND (min-width: 360px) {
 aside {
  top: 80px;
  bottom: 408px;
  left: 0;

  nav {

   li:nth-child(1) a {
    padding: 13px 29.7em 13px 10px;
   }

   li:nth-child(2) a {
    padding: 13px 22.5em 13px 10px;
   }

   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 13px 37em 13px 10px;
   }
  }
 }
}

@media(orientation: landscape) AND (min-width: 640px) {
 aside {

  nav {

   li:nth-child(1) a {
    padding: 13px 45.9em 13px 10px;
   }

   li:nth-child(2) a {
    padding: 13px 44.1em 13px 10px;
   }

   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 13px 44.6em 13px 10px;
   }
  }
 }
}

// Pixel 2: portrait
@media(orientation: portrait) AND (min-width: 411px) AND (min-height: 731px) {
 aside {
  bottom: 498px;

  nav {

   li:nth-child(1) a {
    padding: 13px 28.3em 13px 10px;
   }

   li:nth-child(2) a {
    padding: 13px 26.5em 13px 10px;
   }

   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 13px 44.6em 13px 10px;
   }
  }
 }
}

@media(orientation: landscape) AND (min-width: 731px) {
 aside {

  nav {

   li:nth-child(1) a {
    padding: 13px 52.9em 13px 10px;
   }

   li:nth-child(2) a {
    padding: 13px 51.1em 13px 10px;
   }

   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 13px 51.5em 13px 10px;
   }
  }
 }
}

// Ipad: portrait
@media(orientation: portrait) AND (min-width: 768px) {
 .burger {
  top: 1.5%;
  width: 60px;
  height: 50px;
  font-size: 36px;
 }

 aside {
  top: 80px;
  bottom: 693px;

  nav {

   li {
    padding: 13px 0 13px 0;
   }

   li:nth-child(1) a {
    padding: 20px 36.9em 20px 20px;
   }

   li:nth-child(2) a {
    padding: 20px 28.6em 20px 10px;
   }

   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 20px 28.7em 20px 20px;
   }

   a {
    width: 100%;
    font-size: 23px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;
   }
  }
 }
}

@media(orientation: landscape) AND (min-width: 1024px) {

 .burger {
  display: none;
 }

 .burger.active {
  display: none;
 }

 .nav-block {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  height: 71px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px 1px grey;
  top: -75px;
  transition: .3s;
 }

 aside {
  display: inline-block;
  top: 0;
  left: 0;
  background-color: transparent;

  nav {

   ul {
    position: absolute;
    top: 3%;
    right: 22%;
   }

   li {
    float: left;
    border: none;
    background-color: transparent;
    padding: 0 25px;
   }

   li:nth-child(1),
   li:nth-child(2),
   li:nth-child(3) {
    border: none;
   }

   li:nth-child(1) a,
   li:nth-child(2) a,
   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 0;
   }

   a {
    font-size: 15px;
    color: #222;

    &:hover {
     text-decoration: line-through;
    }
   }
  }
 }
}

.nav-block.active {
 top: 0;
}







// @media(max-width: 767px) — urządzenia bardzo małe (telefony),
// @media(min-width: 768px) and (max-width: 991px) — urządzenia małe (tablety),
// @media(min-width: 992px) and (max-width: 1199px) — urządzenia średnie,
// @media(min-width: 1200px) — urządzenia duże (desktopy, monitory, tv).