.burger {
 z-index: 1;
 position: fixed;
 top: 3%;
 right: 5%;
 width: 50px;
 height: 40px;
 color: #fff;
 font-size: 26px;
 background-color: #000;

 i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
}

.burger.active+aside {
 display: block;
 width: 100%;
}

aside {
 z-index: 1;
 display: none;
 position: fixed;
 top: 80px;
 left: 0;
 right: 0;
 background-color: #333333;

 nav {

  ul {
   list-style: none;
  }

  li {
   line-height: 2.2em;
  }

  li:nth-child(1),
  li:nth-child(2),
  li:nth-child(3) {
   border-bottom: 1px solid gray;
  }

  li:nth-child(1) a {
   padding: 13px 37.7em 13px 10px;
  }

  li:nth-child(2) a {
   padding: 13px 19.4em 13px 10px;

  }

  li:nth-child(3) a,
  li:nth-child(4) a {
   padding: 13px 36.3em 13px 10px;
  }

  a {
   font-size: 13px;
   color: #fff;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   font-family: 'Alegreya Sans SC', sans-serif;
  }
 }
}

.nav-block.active {
 top: 0;
 background-color: #fff;
}

// Very small phone resolution
@media(max-width: 456px) {
  aside {
  
    nav {
  
     li:nth-child(1) a {
      padding: 13px 90% 13px 10px;
     }
  
     li:nth-child(2) a {
      padding: 13px 75% 13px 10px;
     }
  
     li:nth-child(3) a,
     li:nth-child(4) a {
      padding: 13px 86.3% 13px 10px;
     }
    }
  }
}

// Small device resolution
@media(min-width: 457px) AND (max-width: 767px) {
 aside {

  nav {

   li:nth-child(1) a {
    padding: 13px 94.1% 13px 10px;
   }

   li:nth-child(2) a {
    padding: 13px 85% 13px 10px;
   }

   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 13px 92% 13px 10px;
   }
  }
 }
}

// Small device - tablets
@media(min-width: 768px) AND (max-width: 991px) {
 aside {

  nav {

   li:nth-child(1) a {
    padding: 13px 95.5% 13px 10px;
   }

   li:nth-child(2) a {
    padding: 13px 91.2% 13px 10px;
   }

   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 13px 93.9% 13px 10px;
   }
  }
 }
}

// Medium device resolution
@media(min-width: 992px) AND (max-width: 1199px) {
  aside {
 
   nav {
 
    li:nth-child(1) a {
     padding: 13px 96.2% 13px 10px;
    }
 
    li:nth-child(2) a {
     padding: 13px 93.2% 13px 10px;
    }
 
    li:nth-child(3) a,
    li:nth-child(4) a {
     padding: 13px 94.9% 13px 10px;
    }
   }
  }
 }

// Big device resolution - desktop
@media(min-width: 1200px) {

 .nav-block {
  z-index: 1;
  position: fixed;
  left: 0;
  height: 67px;
  width: 100%;
  box-shadow: 0 0 65px 5px grey;
  top: -95px;
  transition: .7s;
 }

 .burger {
  display: none;
 }

 .burger.active {
  display: none;
 }

 aside {
  display: inline-block;
  top: 0;
  background-color: transparent;

  nav {

   ul {
    position: absolute;
    top: 4.5%;
    right: 22%;
   }

   li {
    float: left;
    border: none;
    background-color: transparent;
    padding: 0 25px;
   }

   li:nth-child(1),
   li:nth-child(2),
   li:nth-child(3) {
    border: none;
   }

   li:nth-child(1) a,
   li:nth-child(2) a,
   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 0;
    line-height: 64px;
    font-weight: bold;
   }

   a {
    font-size: 14px;
    color: #fff;

    &:hover {
     color: rgb(212, 218, 216);
    }
   }
  }
 }

 .active .nav-link {
  color: gray;

  &:hover {
   color: black;
  }
 }
}