.burger {
 z-index: 1;
 position: fixed;
 top: 3%;
 right: 5%;
 width: 50px;
 height: 40px;
 color: #fff;
 font-size: 26px;
 background-color: #000;

 i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
}

.burger.active+aside {
 display: block;
 width: 100%;
}

aside {
 z-index: 1;
 display: none;
 position: fixed;
 top: 80px;
 left: 0;
 right: 0;
 background-color: #333333;

 nav {

  ul {
   list-style: none;
  }

  li {
   line-height: 2.2em;
  }

  li:nth-child(1),
  li:nth-child(2),
  li:nth-child(3) {
   border-bottom: 1px solid gray;
  }

  li:nth-child(1) a {
   padding: 13px 37.7em 13px 10px;
  }

  li:nth-child(2) a {
   padding: 13px 19.4em 13px 10px;

  }

  li:nth-child(3) a,
  li:nth-child(4) a {
   padding: 13px 36.3em 13px 10px;

  }

  a {
   font-size: 13px;
   color: #fff;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   font-family: 'Alegreya Sans SC', sans-serif;
  }
 }
}

.nav-block.active {
 top: 0;
 background-color: #fff;
}

//Nokia Lumia: landscape
@media(orientation: landscape) AND (min-width: 533px) {
 aside {

  nav {

   li {
    background-color: #333333;
   }

   li:nth-child(1) a {
    padding: 13px 37.7em 13px 10px;
   }

   li:nth-child(2) a {
    padding: 13px 35.9em 13px 10px;
   }

   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 13px 37em 13px 10px;
   }
  }
 }
}

// Galaxy S5: portrait
@media(orientation: portrait) AND (min-width: 360px) {
 aside {
  top: 80px;
  left: 0;

  nav {

   li:nth-child(1) a {
    padding: 13px 29.7em 13px 10px;
   }

   li:nth-child(2) a {
    padding: 13px 22.5em 13px 10px;
   }

   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 13px 37em 13px 10px;
   }
  }
 }
}

@media(orientation: landscape) AND (min-width: 640px) {
 aside {

  nav {

   li:nth-child(1) a {
    padding: 13px 45.9em 13px 10px;
   }

   li:nth-child(2) a {
    padding: 13px 44.1em 13px 10px;
   }

   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 13px 44.6em 13px 10px;
   }
  }
 }
}

// Pixel 2: portrait
@media(orientation: portrait) AND (min-width: 411px) AND (min-height: 731px) {
 aside {

  nav {

   li:nth-child(1) a {
    padding: 13px 28.3em 13px 10px;
   }

   li:nth-child(2) a {
    padding: 13px 26.5em 13px 10px;
   }

   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 13px 44.6em 13px 10px;
   }
  }
 }
}

@media(orientation: landscape) AND (min-width: 731px) {
 aside {

  nav {

   li:nth-child(1) a {
    padding: 13px 52.9em 13px 10px;
   }

   li:nth-child(2) a {
    padding: 13px 51.1em 13px 10px;
   }

   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 13px 51.5em 13px 10px;
   }
  }
 }
}

// //Pixel 2XL:landscape
@media(orientation: landscape) AND (min-width: 823px) {
 aside {

  nav {

   li:nth-child(1) a {
    padding: 13px 60.3em 13px 10px;
   }

   li:nth-child(2) a {
    padding: 13px 58.2em 13px 10px;
   }

   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 13px 58.7em 13px 10px;
   }
  }
 }
}

// Ipad: portrait
@media(orientation: portrait) AND (min-width: 768px) {
 .burger {
  top: 1.5%;
  width: 60px;
  height: 50px;
  font-size: 36px;
 }

 aside {
  top: 80px;

  nav {

   li {
    padding: 13px 0 13px 0;
   }

   li:nth-child(1) a {
    padding: 20px 36.9em 20px 20px;
   }

   li:nth-child(2) a {
    padding: 20px 28.2em 20px 20px;
   }

   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 20px 28.7em 20px 20px;
   }

   a {
    width: 100%;
    font-size: 23px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;
   }
  }
 }
}

//Iphone 6/7/8 Plus:landscape
@media(orientation: landscape) AND (min-width: 812px) {
 aside {

  nav {

   li:nth-child(1) a {
    padding: 13px 59.2em 13px 10px;
   }

   li:nth-child(2) a {
    padding: 13px 57.3em 13px 10px;
   }

   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 13px 58.7em 13px 10px;
   }
  }
 }
}

// desktop
@media(orientation: landscape) AND (min-width: 1024px) {

 .nav-block {
  z-index: 1;
  position: fixed;
  left: 0;
  height: 67px;
  width: 100%;
  box-shadow: 0 0 65px 5px grey;
  top: -95px;
  transition: .7s;
 }

 .burger {
  display: none;
 }

 .burger.active {
  display: none;
 }

 aside {
  display: inline-block;
  top: 0;
  background-color: transparent;

  nav {

   ul {
    position: absolute;
    top: 4.5%;
    right: 22%;
   }

   li {
    float: left;
    border: none;
    background-color: transparent;
    padding: 0 25px;
   }

   li:nth-child(1),
   li:nth-child(2),
   li:nth-child(3) {
    border: none;
   }

   li:nth-child(1) a,
   li:nth-child(2) a,
   li:nth-child(3) a,
   li:nth-child(4) a {
    padding: 0;
    line-height: 64px;
    font-weight: bold;
   }

   a {
    font-size: 14px;
    color: #fff;

    &:hover {
     color: rgb(212, 218, 216);
    }
   }
  }
 }

 .active .nav-link {
  color: gray;

  &:hover {
   color: black;
  }
 }
}