.gallery {
	margin-top: 265%;
	max-width: 100%;

	h2 {
		margin-bottom: 15%;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;

		span {
			background: -webkit-linear-gradient(#eee, #333);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.title-line2 {
		position: absolute;
		top: 269%;
		left: 43%;
		width: 15%;
		height: .4%;
		background-color: gray;
	}

	.gallery-items {
		list-style-type: none;

		.gallery-item {
			position: relative;
			// width: 19em;
			// height: 12em;
			width: 14em;
			height: 8em;
			border: 1px solid gray;
			float: left;
			margin-left: 15%;
			margin-right: 15%;
			margin-top: 5%;
			overflow: hidden;


			&:hover p {
				top: 0;
			}

			p {
				position: absolute;
				top: 100%;
				left: 0;
				padding: 12px;
				width: 20em;
				height: 10.4em;
				color: #fff;
				background-color: rgba(orangered, .8);
				transition: .6s;
				text-shadow: 2px 1px 1px black;
				font-size: 10px;
				font-family: 'Montserrat', sans-serif;

				.redirect-button {
					position: absolute;
					top: 80%;
					left: 0;
					border-style: none;
					background-color: rgba(orangered, .7);
					border-top: 1px solid rgba(rgb(182, 25, 33), .6);
					width: 99.7%;
					height: 20%;

					.fa-search-plus {
						color: rgba(rgb(245, 179, 118), .9);
						font-size: 18px;
						margin-top: 1px;
					}
				}
			}

			.project-picture {
				width: 14em;
				height: 8em;
			}
		}
	}

	.gal_item:hover .overlay {
		display: block;
	}
}

.wrap.blur {
	position: absolute;
	filter: blur(2px);
	height: 100%;
}

.modal-bg {
	display: none;
}

.modal-bg.active {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);

	.modal {
		position: absolute;
		top: 25%;
		left: 3%;
		width: 15%;
		height: 15%;
		// transform: translate(-50%);

		.top {
			position: relative;
			bottom: 150%;
			left: 10%;

			// close icon for modal
			i.fa-times {
				position: absolute;
				top: 0;
				left: 560%;
				line-height: 24px;
				color: lightgrey;
				font-size: 35px;
				cursor: pointer;

				&:hover {
					color: #fff;
				}
			}
		}

		.middle {
			img {
				width: 18.8em;
				height: 12em;
			}
		}
	}
}

// Nokia Lumia: landscape
@media(orientation: landscape) AND (min-width: 533px) AND (min-height: 320px) {
	.gallery {
		margin-top: 116%;

		h1 {
			margin-bottom: 8%;
		}
	}

	.modal-bg {
		display: none;
	}

	.modal-bg.active {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .6);

		.modal {
			position: absolute;
			top: 30%;
			left: 10%;
			width: 15%;
			height: 15%;
			transform: translate(-50%, -70%);

			.top {
				position: relative;
				top: 8.5%;
				right: -10%;

				i.fa-times {
					position: absolute;
					top: 0;
					left: 584%;
					line-height: 24px;
					font-size: 35px;
					cursor: pointer;
				}
			}

			.middle {
				img {
					width: 31.7em;
					height: 15.2em;
				}
			}
		}
	}
}

// Galaxy S5: portrait
@media(orientation: portrait) AND (min-width: 360px) AND (min-height: 640px) {
	.gallery {
		margin-top: 267%;

		h1 {
			margin-bottom: 14%;
		}
	}

	.modal-bg {
		display: none;
	}

	.modal-bg.active {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .6);

		.modal {
			position: absolute;
			top: 30%;
			left: 10%;
			width: 15%;
			height: 15%;
			transform: translate(-50%, -70%);

			.top {
				position: relative;
				top: 8.5%;
				right: -10%;

				i.fa-times {
					position: absolute;
					top: 0;
					left: 566%;
					line-height: 24px;
					font-size: 35px;
					cursor: pointer;
				}
			}

			.middle {
				img {
					width: 21.4em;
					height: 15.2em;
				}
			}
		}
	}
}

@media(orientation: landscape) AND (min-width: 640px) AND (min-height: 360px) {
	.gallery {
		margin-top: 109%;

		h1 {
			margin-bottom: 7%;
		}
	}

	.modal-bg {
		display: none;
	}

	.modal-bg.active {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .6);

		.modal {
			position: absolute;
			top: 28%;
			left: 10%;
			width: 15%;
			height: 15%;
			transform: translate(-50%, -70%);

			.top {
				position: relative;
				top: 8.5%;
				right: -10%;

				i.fa-times {
					position: absolute;
					top: 0;
					left: 592%;
					line-height: 24px;
					font-size: 35px;
					cursor: pointer;
				}
			}

			.middle {
				img {
					width: 38em;
					height: 17.5em;
				}
			}
		}
	}
}

// Pixel 2: portrait
@media(orientation: portrait) AND (min-width: 411px) AND (min-height: 731px) {
	.gallery {
		margin-top: 267%;

		h1 {
			margin-bottom: 16%;
		}
	}

	.modal-bg {
		display: none;
	}

	.modal-bg.active {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .6);

		.modal {
			position: absolute;
			top: 30%;
			left: 10%;
			width: 15%;
			height: 15%;
			transform: translate(-50%, -70%);

			.top {
				position: relative;
				top: 8.5%;
				right: -10%;

				i.fa-times {
					position: absolute;
					top: 0;
					left: 570%;
					line-height: 24px;
					font-size: 35px;
					cursor: pointer;
				}
			}

			.middle {
				img {
					width: 24.4em;
					height: 15.2em;
				}
			}
		}
	}
}

@media(orientation: landscape) AND (min-width: 731px) AND (min-height: 411px) {
	.modal-bg {
		display: none;
	}

	.modal-bg.active {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .6);

		.modal {
			position: absolute;
			top: 26%;
			left: 10%;
			width: 15%;
			height: 15%;
			transform: translate(-50%, -70%);

			.top {
				position: relative;
				top: 8.5%;
				right: -10%;

				i.fa-times {
					position: absolute;
					top: 0;
					left: 588%;
					line-height: 34px;
					font-size: 45px;
					cursor: pointer;
				}
			}

			.middle {
				img {
					width: 43.4em;
					height: 20.6em;
				}
			}
		}
	}
}

// Pixel 2 XL: portrait
@media(orientation: portrait) AND (min-width: 411px) AND (min-height: 823px) {
	.gallery {
		margin-top: 299%;

		h1 {
			margin-bottom: 18%;
		}
	}
}

@media(orientation: landscape) AND (min-width: 823px) AND (min-height: 411px) {
	.gallery {
		margin-top: 96%;

		h1 {
			margin-bottom: 6%;
		}
	}
}

// Iphone X: portrait
@media(orientation: portrait) AND (min-width: 375px) AND (min-height: 812px) {
	.gallery {
		margin-top: 326%;

		h1 {
			margin-bottom: 22%;
		}
	}
}

@media(orientation: landscape) AND (min-width: 812px) AND (min-height: 375px) {
	.gallery {
		margin-top: 90%;

		h1 {
			margin-bottom: 6%;
		}
	}

	.modal-bg {
		display: none;
	}

	.modal-bg.active {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .6);

		.modal {
			position: absolute;
			top: 26%;
			left: 10%;
			width: 15%;
			height: 15%;
			transform: translate(-50%, -70%);

			.top {
				position: relative;
				top: 8.5%;
				right: -10%;

				i.fa-times {
					position: absolute;
					top: 0;
					left: 592%;
					line-height: 34px;
					font-size: 45px;
					cursor: pointer;
				}
			}

			.middle {
				img {
					width: 48.2em;
					height: 19.1em;
				}
			}
		}
	}
}

// Ipad: portrait
@media(orientation: portrait) AND (max-width: 1025px) AND (min-height: 768px) {
	.gallery {
		margin-top: 202%;

		h1 {
			margin-bottom: 14%;
			font-size: 30px;
		}

		.gal_item {

			.overlay {

				.icon {
					width: 80px;
					height: 80px;
					margin-top: -30px;

					.fas {
						font-size: 35px;
						line-height: 40px;
					}
				}
			}
		}
	}

	.modal-bg {
		display: none;
	}

	.modal-bg.active {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .6);

		.modal {
			position: absolute;
			top: 32%;
			left: 10%;
			width: 15%;
			height: 15%;
			transform: translate(-50%, -70%);

			.top {
				position: relative;
				top: 8.5%;
				right: -10%;

				i.fa-times {
					position: absolute;
					top: 0;
					left: 588%;
					line-height: 24px;
					font-size: 45px;
					cursor: pointer;
				}
			}

			.middle {
				img {
					width: 45.5em;
					height: 28em;
				}
			}
		}
	}
}

// Ipad: landscape
@media(orientation: landscape) AND (max-width: 1025px) AND (min-height: 768px) {
	.gallery {
		margin-top: 86%;

		h1 {
			margin-bottom: 9%;
			font-size: 26px;
		}

		.gal_item {

			.overlay {

				.icon {
					width: 80px;
					height: 80px;
					margin-top: -30px;

					.fas {
						font-size: 35px;
						line-height: 40px;
					}
				}
			}
		}
	}

	.modal-bg {
		display: none;
	}

	.modal-bg.active {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .6);

		.modal {
			position: absolute;
			top: 40%;
			left: 10%;
			width: 15%;
			height: 15%;
			transform: translate(-50%, -70%);

			.top {
				position: relative;
				top: 8.5%;
				right: -10%;

				i.fa-times {
					position: absolute;
					top: 0;
					left: 560%;
					line-height: 24px;
					font-size: 35px;
					cursor: pointer;
				}
			}

			.middle {
				img {
					width: 19em;
					height: 16.8em;
				}
			}
		}
	}
}

// // Desktop: landscape
@media(orientation: landscape) AND (min-width: 1024px) {
	.gallery {
		margin-top: 57%;
		max-width: 100%;

		h1 {
			margin-bottom: 5.5%;
		}

		.gallery-items {
			list-style-type: none;

			.gallery-item {
				position: relative;
				width: 30em;
				height: 20em;
				border: 1px solid red;
				float: left;
				margin-left: 1%;
				overflow: hidden;


				&:hover p {
					top: 0;
				}

				p {
					position: absolute;
					top: 100%;
					left: 0;
					width: 30em;
					height: 20em;
					color: #fff;
					background-color: rgba(gray, .7s);
					transition: .6s;
				}

				.project-picture {
					width: 30em;
					height: 20em;
				}
			}
		}

		.modal-bg.active {

			.modal {
				top: 70%;
				left: 50%;
				width: 80%;
				height: 80%;

				.top {
					position: absolute;
					top: 2.5%;
					right: 3%;

					i.fa-times {
						font-size: 55px;
						line-height: 22px;
					}
				}

				.middle {
					img {
						width: 95.2em;
						height: 46.8em;
					}
				}
			}
		}
	}

	// Desktop 1366px: landscape
	@media(orientation: landscape) AND (max-width: 1366px) AND (min-height: 768px) {
		.gallery {
			margin-top: 141%;
		}

		.modal-bg.active {

			.modal {
				top: 70%;
				left: 45%;
				width: 80%;
				height: 80%;

				.top {
					position: absolute;
					top: 2.5%;
					right: 3%;

					i.fa-times {
						position: absolute;
						font-size: 55px;
						padding-left: 117px;
					}
				}

				.middle {
					img {
						width: 76.6em;
						height: 38.8em;
					}
				}
			}
		}
	}
}