.gallery {
  padding-top: 3em;
  position: relative;
}

h2 {
  font-family: "Fira Mono", monospace;
  font-size: 30px;
  text-align: center;

  span {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.gallery-items {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.gallery-item {
  border: 1px solid gray;
  height: 9em;
  overflow: hidden;
  position: relative;
  width: 14em;

  &:hover .gallery-layout {
    left: 0;
    top: 0;
    width: 100%;
  }
}

.gallery-layout {
  background-color: rgba(#395E66, 0.8);
  color: #fff;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  height: 11.9em;
  left: 0;
  position: absolute;
  padding: 12px;
  top: 100%;
  transition: 0.6s;
  width: 18.5em;
  max-width: 100%;

  p {
    text-shadow: 2px 1px 1px black;
  }
}

.code-button,
.zoom-button,
.github-button {
  border-style: none;
  background-color: #395E66;
  border: 2px solid rgb(44, 73, 80);
  height: 20%;
  position: absolute;
  top: 80.1%;
  width: 33.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-github,
.fa-search-plus,
.fa-eye {
  color: rgba(rgb(245, 179, 118), 0.9);
  font-size: 18px;
}

.code-button {
  left: 0;
}

.zoom-button {
  left: 33.2%;
}

.github-button {
  left: 66.4%;
}

.project-picture {
  height: 9em;
  width: 14em;
}

.gallery_items:hover .gallery-item {
  display: block;
}

.modal-bg {
  display: none;

  &.active {
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .modal {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }
}

.top {
  position: relative;
  top: 6%;
  left: 30em;
  height: 100%;

  // close icon for modal
  .fa-times {
    color: lightgrey;
    cursor: pointer;
    font-size: 35px;
    left: 15em;
    position: absolute;
    top: 1.5%;
    z-index: 1;

    &:hover {
      color: #fff;
    }
  }
}

.middle {
  position: relative;

  &:hover .icon {
    display: block;
  }

  .img-modal {
    height: 50em;
    width: 85em;
  }
}

.wrap.blur {
  filter: blur(3px);
  height: 100vh;
}

// Very small device screen
@media(max-width: 511px) {
  h2 {
    font-size: 30px;
    margin-bottom: 80px;
  }
    .gallery-item {
      height: 17em;
      width: 25.5em;
      margin: 0 16px 80px;
    }

      .gallery-layout {
        cursor: default;
        font-size: 25.2px;
        height: 10.8em;
      }

        .code-button,
        .zoom-button,
        .github-button {
          transition: 0.3s;
          cursor: pointer;

          &:hover {
            background-color: rgba(255, 255, 255, 0.3);

            .fa-github,
            .fa-search-plus,
            .fa-eye {
              color: #333;
            }
          }

          .fa-github,
          .fa-search-plus,
          .fa-eye {
            font-size: 34px;
          }
        }

      .project-picture {
        height: 17em;
        width: 100%;
      }
      
  .modal {
    left: 2.7em;
    top: 9.5em;

    .top {
      .fa-times {
        font-size: 20px;
        top: 31.3%;
        left: -8.9em;
      }
    }

    .middle {
      img {
        height: 15em;
        width: 20em;
      }
    }
  }
}

// Very small device screen
@media(min-width: 512px) AND (max-width: 768px) {
  h2 {
    font-size: 30px;
    margin-bottom: 80px;
  }
    .gallery-item {
      height: 17em;
      width: 25.5em;
      margin: 0 16px 80px;
    }

      .gallery-layout {
        cursor: default;
        font-size: 25.2px;
        height: 10.8em;
      }

        .code-button,
        .zoom-button,
        .github-button {
          transition: 0.3s;
          cursor: pointer;

          &:hover {
            background-color: rgba(255, 255, 255, 0.3);

            .fa-github,
            .fa-search-plus,
            .fa-eye {
              color: #333;
            }
          }

          .fa-github,
          .fa-search-plus,
          .fa-eye {
            font-size: 34px;
          }
        }

      .project-picture {
        height: 17em;
        width: 100%;
      }
      
  .modal {
    left: 2.7em;
    top: 9.5em;

    .top {
      .fa-times {
        font-size: 20px;
        top: 27.2%;
        left: -1em;
      }
    }

    .middle {
      img {
        height: 20em;
        width: 30em;
      }
    }
  }
}

// Small device screen
@media(min-width: 768px) AND (max-width: 1224px) {
  h2 {
    font-size: 30px;
    margin-bottom: 80px;
  }
    .gallery-item {
      height: 17em;
      width: 25.5em;
      margin: 0 16px 80px;
    }

      .gallery-layout {
        cursor: default;
        font-size: 25.2px;
        height: 10.8em;
      }

        .code-button,
        .zoom-button,
        .github-button {
          transition: 0.3s;
          cursor: pointer;

          &:hover {
            background-color: rgba(255, 255, 255, 0.3);

            .fa-github,
            .fa-search-plus,
            .fa-eye {
              color: #333;
            }
          }

          .fa-github,
          .fa-search-plus,
          .fa-eye {
            font-size: 34px;
          }
        }

      .project-picture {
        height: 17em;
        width: 25.5em;
      }
      
  .modal {
    left: 2.7em;
    top: 9.5em;

    .top {
      .fa-times {
        font-size: 25px;
        top: 22.6%;
        left: 5.5em;
      }
    }

    .middle {
      .img-modal {
        height: 25em;
        width: 40em;
      }
    }
  }
}

// Medium device screen
@media(min-width: 1225px) AND (max-width: 1449px) {
    h2 {
      font-size: 40px;
      margin-bottom: 80px;
    }
      .gallery-item {
        height: 17em;
        margin: 0.8em 0;
        width: 25.5em;
        margin: 0 16px 86px;
			}

        .gallery-layout {
          cursor: default;
          font-size: 25.2px;
					height: 10.8em;
				}

          .code-button,
          .zoom-button,
          .github-button {
            transition: 0.3s;
            cursor: pointer;

            &:hover {
              background-color: rgba(255, 255, 255, 0.3);

              .fa-github,
              .fa-search-plus,
              .fa-eye {
                color: #333;
              }
            }

            .fa-github,
            .fa-search-plus,
            .fa-eye {
              font-size: 34px;
            }
          }

        .project-picture {
          height: 17em;
          width: 25.5em;
				}
				
    .modal {
      left: 2.7em;
      top: 9.5em;

      .top {
        .fa-times {
          font-size: 45px;
          top: 14%;
          left: 9.8em;
        }
      }

      .middle {
        img {
          height: 35em;
          width: 60em;
        }
      }
    }
}

// desktop device screen 
@media (min-width: 1450px) {

    h2 {
      font-size: 40px;
      margin-bottom: 80px;
		}
		
      .gallery-item {
        height: 20em;
        width: 33.5em;
        margin: 0 16px 86px;
      }

      .project-picture {
        height: 20em;
        width: 33.5em;
      }
      
        .gallery-layout {
          cursor: default;
          font-size: 33.2px;
          height: 9.6em;

          .code-button,
          .zoom-button,
          .github-button {
            cursor: pointer;
            transition: 0.3s;

            &:hover {
              background-color: rgba(255, 255, 255, 0.3);

              .fa-github,
              .fa-search-plus,
              .fa-eye {
                color: #333;
              }
            }

            .fa-github,
            .fa-search-plus,
            .fa-eye {
              font-size: 40px;
            }
          }
				}
    
    .top {
      .fa-times {
        font-size: 55px;
        left: 15.1em;
        top: 1%;
      }
    }

    .middle {
      .img-modal {
        height: 50em;
        width: 85em;
      }
    }
}