.gallery {
  padding-top: 3em;
  position: relative;
}

h2 {
  font-family: "Fira Mono", monospace;
  font-size: 30px;
  text-align: center;

  span {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.gallery-items {
  list-style-type: none;
}

.gallery-item {
  border: 1px solid gray;
  height: 9em;
  overflow: hidden;
  position: relative;
  width: 14em;
  display: flex;
  flex-direction: column;
  margin: 0 auto 2em auto;

  &:hover .gallery-layout {
    left: 0;
    top: 0;
  }
}

.gallery-layout {
  background-color: rgba(#395E66, 0.8);
  color: #fff;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  height: 11.9em;
  left: 0;
  position: absolute;
  padding: 12px;
  top: 100%;
  transition: 0.6s;
  width: 18.5em;

  p {
    text-shadow: 2px 1px 1px black;
  }
}

.code-button,
.zoom-button,
.github-button {
  border-style: none;
  background-color: #395E66;
  border: 2px solid rgb(44, 73, 80);
  height: 20%;
  position: absolute;
  top: 80.1%;
  width: 33.5%;
}

.fa-github,
.fa-search-plus,
.fa-eye {
  color: rgba(rgb(245, 179, 118), 0.9);
  font-size: 18px;
  margin-top: 2px;
  margin-left: 1.4em;
}

.code-button {
  left: 0;
}

.zoom-button {
  left: 33%;
}

.github-button {
  left: 66.4%;
}

.project-picture {
  height: 9em;
  width: 14em;
}

.gallery_items:hover .gallery-item {
  display: block;
}

.modal-bg {
  display: none;
}

.wrap.blur {
  filter: blur(3px);
  height: 100vh;
}

.modal-bg.active {
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal {
  height: 15%;
  left: 3%;
  position: absolute;
  top: 25%;
  width: 15%;
}

.top {
  bottom: 150%;
  left: 12%;
  position: relative;
}

// close icon for modal
.fa-times {
  color: lightgrey;
  cursor: pointer;
  font-size: 35px;
  left: 560%;
  line-height: 24px;
  position: absolute;
  top: 0;
}

.fa-times:hover {
  color: #fff;
}

.middle {
  position: relative;
}

.middle:hover .icon {
  display: block;
}

img {
  height: 12em;
  width: 18.8em;
}

// Nokia Lumia: landscape
@media (orientation: landscape) AND (min-width: 533px) {
  .gallery-items {
    display: flex;
  }

  .gallery-item {
    width: 10em;
    height: 7em;
    margin: 0 auto 2em auto;
  }

  .gallery-layout {
    font-size: 10.8px;
    height: 10.2em;
    padding: 6px;
    width: 14.7em;
  }

  .fa-github,
  .fa-search-plus,
  .fa-eye {
    font-size: 14px;
  }

  .code-button {
    width: 34%;
  }

  .zoom-button {
    left: 33.4%;
  }

  .github-button {
    left: 66.4%;
  }

  .project-picture {
    height: 7em;
    width: 10em;
  }

  .modal {
    height: 1em;
    left: 14%;
    top: 12%;

    .top {
      bottom: 1.6em;
      left: -1.5em;
    }

    .middle {
      img {
        height: 15em;
        width: 24em;
      }
    }
  }
}

// Galaxy S5: portrait
@media (orientation: portrait) AND (min-width: 360px) {
  .fa-github,
  .fa-search-plus,
  .fa-eye {
    margin-top: 0.2em;
    margin-left: 1.4em;
  }

  .modal {
    left: 5%;
    top: 29%;

    .top {
      bottom: 11em;
    }

    .middle {
      img {
        height: 13.5em;
        width: 20.2em;
      }
    }
  }
}

// Galaxy S5: landscape
@media (orientation: landscape) AND (min-width: 640px) {
  .gallery-item {
    height: 8em;
    width: 12em;
  }

  .gallery-layout {
    font-size: 12.8px;
    height: 9.9em;
    width: 14.9em;
  }

  .fa-github,
  .fa-search-plus,
  .fa-eye {
    font-size: 17px;
  }

  .project-picture {
    height: 8em;
    width: 12em;
  }

  .modal {
    .top {
      bottom: 1.9em;
    }

    .middle {
      img {
        height: 17em;
        width: 28em;
      }
    }
  }
}

// Pixel 2: portrait
@media (orientation: portrait) AND (min-width: 411px) {
  .modal {
    top: 15em;

    .top {
      bottom: 14em;
    }

    .middle {
      img {
        height: 14.5em;
        width: 23em;
      }
    }
  }
}

@media (orientation: landscape) AND (min-width: 731px) {
  .gallery-item {
    height: 10em;
    width: 14em;
  }

  .gallery-layout {
    font-size: 13.8px;
    height: 11.5em;
    padding: 16px;
    width: 16.1em;
  }

  .fa-github,
  .fa-search-plus,
  .fa-eye {
    font-size: 21px;
    margin-top: 0.2em;
  }

  .fa-eye {
    margin-left: 1.2em;
  }

  .project-picture {
    height: 10em;
    width: 14em;
  }

  .modal {
    left: 7.7em;
    top: 3.5em;

    .top {
      bottom: 2.5em;
      left: -2.8em;
    }

    .middle {
      img {
        height: 19em;
        width: 30em;
      }
    }
  }
}

// Iphone X: portrait
@media (orientation: portrait) AND (min-width: 375px) AND (min-height: 812px) {
  .modal {
    top: 17em;
    left: 0.7em;

    .top {
      bottom: 15.8em;
    }

    .middle {
      img {
        height: 13.5em;
        width: 22em;
      }
    }
  }
}

@media (orientation: landscape) AND (min-width: 812px) {
  .gallery-item {
    height: 10em;
    width: 15.5em;
  }

  .gallery-layout {
    font-size: 15.8px;
    height: 10.1em;
  }

  .fa-github,
  .fa-search-plus,
  .fa-eye {
    font-size: 21px;
  }

  .project-picture {
    height: 10em;
    width: 15.5em;
  }

  .modal {
    left: 10.7em;
    top: 2em;

    .top {
      bottom: 1.3em;
      left: -4.8em;
    }
  }
}

// Ipad: portrait
@media (orientation: portrait) AND (min-width: 768px) {
  h2 {
    font-size: 30px;
  }

  .gallery-items {
    display: flex;
  }

  .fa-github,
  .fa-search-plus,
  .fa-eye {
    font-size: 20px;
    margin-top: 0.1em;
  }

  .fa-eye {
    margin-left: 1.1em;
  }

  .modal {
    top: 18em;
    left: 1.5em;

    .top {
      bottom: 16.6em;
      left: 3em;

      .fa-times {
        font-size: 50px;
      }
    }

    .middle {
      img {
        height: 25.5em;
        width: 45em;
      }
    }
  }
}

//Ipad: landscape
@media (orientation: landscape) AND (min-width: 1024px) {
  .gallery-item {
    height: 13em;
    width: 19.5em;
    left: 0.3em;
  }

  .gallery-layout {
    font-size: 19.3px;
    height: 10.7em;
    width: 16.1em;
  }

  .fa-github,
  .fa-search-plus,
  .fa-eye {
    font-size: 26px;
    margin-top: 6px;
    margin-left: 1.5em;
  }

  .fa-github {
    margin-left: 1.6em;
  }

  .fa-eye {
    margin-left: 1.4em;
  }

  .project-picture {
    height: 13em;
    width: 19.5em;
  }

  .modal {
    left: 2em;
    top: 6em;

    .top {
      bottom: 4.3em;
      left: 4.8em;

      .fa-times {
        font-size: 45px;
      }
    }

    .middle {
      img {
        height: 35em;
        width: 60em;
      }
    }
  }
}

// Ipad Pro: portrait
// @media (orientation: portrait) AND (min-width: 1024px) AND (min-height: 1366px) {
//   .gallery-item {
//     height: 12em;
//     width: 19em;
//   }

//   .gallery-layout {
//     font-size: 19px;
//     height: 10em;
//     padding: 16px;
//     width: 15.9em;
//   }

//   .fa-github,
//   .fa-search-plus,
//   .fa-eye {
//     font-size: 26px;
//     margin-top: 4px;
//     margin-left: 1.5em;
//   }

//   .fa-eye {
//     margin-left: 1.3em;
//   }

//   .project-picture {
//     height: 12em;
//     width: 19em;
//   }

//   .modal {
//     top: 24em;
//     left: 2em;

//     .top {
//       bottom: 21.8em;
//       left: 4em;

//       .fa-times {
//         font-size: 65px;
//       }
//     }

//     .middle {
//       img {
//         height: 34.5em;
//         width: 60em;
//       }
//     }
//   }
// }

@media (orientation: landscape) AND (min-width: 1366px) {
    h2 {
      font-size: 40px;
    }

    .gallery-items {
			margin: 0 auto 2em auto;
		}
      .gallery-item {
        height: 17em;
        width: 25.5em;
				left: 1.5em;
			}

        .gallery-layout {
          cursor: default;
          font-size: 25.2px;
					height: 10.7em;
				}

          .code-button,
          .zoom-button,
          .github-button {
            transition: 0.3s;
            cursor: pointer;

            &:hover {
              background-color: rgba(255, 255, 255, 0.3);

              .fa-github,
              .fa-search-plus,
              .fa-eye {
                color: #333;
              }
            }

            .fa-github,
            .fa-search-plus,
            .fa-eye {
              font-size: 34px;
            }
          }

        .project-picture {
          height: 17em;
          width: 25.5em;
				}
				
    .modal {
      left: 2.7em;
      top: 9.5em;

      .top {
        bottom: 7.8em;
        left: 7.5em;

        .fa-times {
          font-size: 55px;
        }
      }

      .middle {
        img {
          height: 45em;
          width: 80em;
        }
      }
    }
}

@media (orientation: landscape) AND (min-width: 1366px) AND (min-height: 768px) {
    h2 {
      font-size: 30px;
    }
      .gallery-item {
        height: 17em;
        margin: 0.8em 0 0 1.5em;
        width: 25.5em;
				left: 1.5em;
			}

        .gallery-layout {
          cursor: default;
          font-size: 25.2px;
					height: 10.8em;
				}

          .code-button,
          .zoom-button,
          .github-button {
            transition: 0.3s;
            cursor: pointer;

            &:hover {
              background-color: rgba(255, 255, 255, 0.3);

              .fa-github,
              .fa-search-plus,
              .fa-eye {
                color: #333;
              }
            }

            .fa-github,
            .fa-search-plus,
            .fa-eye {
              font-size: 34px;
              margin-top: 8px;
            }
          }

        .project-picture {
          height: 17em;
          width: 25.5em;
				}
				
    .modal {
      left: 2.7em;
      top: 9.5em;

      .top {
        bottom: 7.8em;
        left: 7.5em;

        .fa-times {
          font-size: 55px;
        }
      }

      .middle {
        img {
          height: 45em;
          width: 80em;
        }
      }
    }
}

// desktop: landscape
@media (min-width: 1400px) {
	.gallery {
		margin-top: 1.5em;
	}

    h2 {
      font-size: 40px;
		}
		
      .gallery-item {
        height: 20em;
        width: 33.5em;
        left: 5.5em;
				top: 0;
			}

        .gallery-layout {
          cursor: default;
          font-size: 33.2px;
					height: 9.6em;
				}

          .code-button,
          .zoom-button,
          .github-button {
            cursor: pointer;
            transition: 0.3s;

            &:hover {
              background-color: rgba(255, 255, 255, 0.3);

              .fa-github,
              .fa-search-plus,
              .fa-eye {
                color: #333;
              }
            }

            .fa-github,
            .fa-search-plus,
            .fa-eye {
              font-size: 40px;
              margin-left: 1.8em;
            }
          }

        .project-picture {
          height: 20em;
          width: 33.5em;
				}
				
    .modal {
      left: 16.2em;
      top: 4.2em;

      .top {
        bottom: 2.5em;
        left: -1em;

        .fa-times {
          font-size: 65px;
        }
      }

      .middle {
        img {
          height: 50em;
          width: 85em;
        }
      }
    }
}
